// ===============================================================================
// Frameworks
// ===============================================================================

@import "vendor/bourbon/bourbon";
@import "singularitygs";
@import "vendor/flexslider";

// ===============================================================================
// Settings & resets
// ===============================================================================

@import "core/settings";
@import "core/normalize";
@import "core/fonts";


// ===============================================================================
// Core style imports
// ===============================================================================

@import "core/helpers";
@import "core/base";
@import "core/print";
// @import "core/syntax";
@import "core/layout";
@import "core/content";
@import "core/themes";

// ===============================================================================
// Modules & components
// ===============================================================================

// general components
@import "modules/button";
@import "modules/strip";
@import "modules/grid-inline";
@import "modules/tile";

// modules
@import "modules/header";
@import "modules/footer";
@import "modules/hero";
@import "modules/navigation";
@import "modules/post";
@import "modules/pdf-viewer";
@import "modules/map";

// ===============================================================================
// Styles of Shame
// -> put quick and dirty hacks here, then clean up & organize later
// ===============================================================================

// shapes: http://www.paulund.co.uk/how-to-create-different-shapes-in-css

.promos {
  li > img, li > a {
    border: $hairline-w--thick solid $color-bg-well;
  }

  li > a {
    display: block;
    overflow: hidden;
  }

  a:hover {
    border: $hairline-w--thick solid $color--secondary;
  }
}

.product {
  @include rem(margin-bottom, 12px);
  @include rem(padding, 16px);
  display: block;
  width: 100%;
  border: $border-w--thick solid $gray;
  // background-color: lighten($gray, 5);
  text-align: center;
}

.product-image {
  // @include rem(margin-bottom, 12px);
  // display: block;
  // border: $border-w--thick solid $gray;
}