// ===============================================================================
// Frameworks
// ===============================================================================

@import "vendor/bourbon/bourbon";
@import "singularitygs";
@import "vendor/flexslider";

// ===============================================================================
// Settings & resets
// ===============================================================================

@import "core/settings";
@import "core/normalize";
@import "core/fonts";


// ===============================================================================
// Core style imports
// ===============================================================================

@import "core/helpers";
@import "core/base";
@import "core/print";
// @import "core/syntax";
@import "core/layout";
@import "core/content";
@import "core/themes";

// ===============================================================================
// Modules & components
// ===============================================================================

// general components
@import "modules/button";
@import "modules/strip";
@import "modules/grid-inline";
@import "modules/tile";

// modules
@import "modules/header";
@import "modules/footer";
@import "modules/hero";
@import "modules/navigation";
@import "modules/post";
@import "modules/pdf-viewer";
@import "modules/map";

// ===============================================================================
// Styles of Shame
// -> put quick and dirty hacks here, then clean up & organize later
// ===============================================================================

// shapes: http://www.paulund.co.uk/how-to-create-different-shapes-in-css

.promos {
  li > img, li > a {
    border: $hairline-w--thick solid $color-bg-well;
  }

  li > a {
    display: block;
    overflow: hidden;
  }

  a:hover {
    border: $hairline-w--thick solid $color--secondary;
  }
}

.product {
  // @include rem(margin-bottom, 12px);
  // @include rem(padding, 16px);
  // display: block;
  // position: relative;
  // width: 100%;
  
  // background-color: lighten($gray, 5);
  text-align: center !important;

  .product-caption {
    opacity: 0;
  }

  p {
    text-align: center;
    border-width: $border-w--thick;
    border-style: solid;
    border-color: $gray;
  }

  img {
    @include inline-block;
    @include rem(margin, 8px 16px 8px 0);
    // display: block;
    position: relative;
    max-height: 100%;
    width: auto;
    
    // padding: 20px;
    // width: 100%;
  }

  &:hover .product-caption {
    opacity: 100;
  }
}

  .product-image {
    @include transform(translateY(-50%)); // use translate to vertically center when we don't know the height of the img
    @include inline-block;
    position: relative;
    top: 50%;
    max-height: 100%;
    width: auto;
    // @include rem(margin-bottom, 12px);
    // display: block;
    // border: $border-w--thick solid $gray;
  }

  .product-caption {
    @extend %base-transition;
    @include rem(bottom, 12px);
    @include rem(left, 12px);
    @include rem(right, 12px);
    @include rem(padding, 6px);
    display: block;
    position: absolute;
    background-color: $gray;
    text-align: left;
  }

  .product-thumb {
    @extend %base-transition;
    @include rem(height, 220px);
    @include rem(padding, 6px);
    display: block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    text-align: center !important;
    overflow: hidden;
    border-width: $border-w--thick;
    border-style: solid;
    border-color: $gray;

    &:hover {
      border-color: $color-text--highlight;
    }

    @include breakpoint($medium) {
      @include rem(height, 160px);
    }

    & > img {
      // http://davidwalsh.name/css-vertical-center
      @include inline-block;
      @include transform(translateY(-50%)); // use translate to vertically center when we don't know the height of the img
      position: relative;
      top: 50%;
      max-height: 100%;
      width: auto;
    }
  }

  .well .product-thumb {
    background-color: white;
    border-color: darken($gray, 5);
  }