---
title: Product FPO
layout: default
---

<article data-ui-panel class="margin-top-header no-padding-top">
  <div data-ui-wrapper>
    <h1 class="padding-bottom">Product name lorem ipsum</h1>
    <div data-ui-columns class="gutter-wrapper">
      <div data-ui-columns-main class="gutter">
        <img src="http://placehold.it/600?text=Product+Image" alt="Product image FPO">
      </div>
      <div data-ui-columns-sidebar class="gutter">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero illo a debitis dolorem est veritatis, quaerat aliquam odit accusantium sequi nostrum saepe tempore quam temporibus repellat provident dignissimos, ad obcaecati.</p>
      </div>
    </div>
    <div class="padding-top margin-top border-top">
      <h2 class="padding-bottom">Collections &amp; catalogs featuring this product</h2>
      <ul data-ui-gallery="small">
        {% for i in (1..4) %}
          <li data-ui-gallery-item>
            {% include collection_listing.html 
              title='Product name lorem ipsum dolor sit'
              image='http://placehold.it/400x300?text=Product+thumbnail'
              url='#'
              %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>