# jekyll settings
name: The Petting Zoo
tag: "Share & Smile"
url: 'http://pettingzooplush.com/staging'
baseurl: 
permalink: /:categories/:title/

markdown: redcarpet
highlighter: false


exclude: ["README.md", "config.rb", ".sublime-project", ".sublime-workspace", "Guardfile", "Gemfile", "Gemfile.lock", ".sass-cache", "assets/media/*"]

# asset paths
assets:
  img: "/assets/images/"
  css: "/assets/css/"
  js: "/assets/js/"
  fonts: "/assets/fonts/"
  s3: "http://pettingzoo-website.s3.amazonaws.com"
  carousel: "/banners/carousel/"
  promos: "/banners/promos/"
  catalog: "/products/catalogs/"
  custom: "/products/custom/"
  staff: "/staff/"
  blog: "/blog/"

# prose.io settings
prose:
  rooturl: "_posts"
  media: "uploads"
  ignore:
    - index.md
    - index.html
    - _config.yml
    - /_layouts
    - /_includes

  metadata:
    _posts/about:
      - name: "title"
        field:
          element: "text"
          label: "Page Title"
          help: "Enter the title of the about page"
      - name: "layout"
        field:
          element: "hidden"
          value: "default"
      - name: "categories"
        field:
          element: "hidden"
          value: "about"
      - name: "feature"
        field:
          element: "text"
          label: "Feature Image"
          help: "Enter the name of the uploaded feature image (including extension)"
      - name: "feature_caption"
        field:
          element: "text"
          label: "Feature Image Caption"
          help: "Enter a caption (if needed) for the feature image"

    _posts/banners:
      - name: "title"
        field:
          element: "hidden"
          value: "Promo Banners"
      - name: "layout"
        field:
          element: "hidden"
          value: "default"
      - name: "categories"
        field:
          element: "select"
          options:
            - name: "Carousel"
              value: "carousel"
            - name: "Promos"
              value: "promos"

    _posts/home:
      - name: "title"
        field:
          element: "hidden"
          value: "Home"
      - name: "layout"
        field:
          element: "hidden"
          value: "default"

    _posts/news:
      - name: "title"
        field:
          element: "text"
          label: "News Title"
          help: "Enter the title of the news post"
      - name: "layout"
        field:
          element: "hidden"
          value: "default"
      - name: "category"
        field:
          element: "hidden"
          value: "blog"
      - name: "categories"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          alterable: "true"
          options:
            - name: "Shows"
              value: "shows"

    _posts/products/catalogs:
      - name: "title"
        field:
          element: "text"
          label: "Catalog Title"
          help: "Enter the title of the about page"
      - name: "layout"
        field:
          element: "hidden"
          value: "catalog"
      - name: "category"
        field:
          element: "hidden"
          value: "catalog"
      - name: "slug"
        field:
          element: "text"
          label: "Catalog Slug"
          help: "Enter a short, lowercase name for the catalog (preferably one word)."
      - name: "show_products"
        field:
          element: "checkbox"
          label: "Show Product Listings"
          help: "Do you want to display product listings for this catalog, or just the PDF?"
          value: "false"
      - name: "directory"
        field:
          element: "text"
          label: "Catalog Directory"
          help: "Enter the name of the directory (on S3) where you uploaded the PDF catalog, cover image, etc., relative to products/catalogs/."
      - name: "pdf"
        field:
          element: "text"
          label: "PDF Filename"
          help: "Enter the name of the uploaded PDF file (including extension). Note: needs to be saved in the catalog directory listed above."
      - name: "cover"
        field:
          element: "text"
          label: "Cover Image"
          help: "Enter the name of the uploaded cover image (including extension). Note: needs to be saved in the catalog directory listed above."
      - name: "filebase"
        field:
          element: "text"
          label: "PDF Images Path"
          help: "Enter a path and filename for the uploaded print catalog images, relative to the catalog directory listed above. Do not include the page number (number at end of filename) or extension (.jpg, .png, etc.)."
      - name: "extension"
        field:
          element: "text"
          label: "PDF Images Extension"
          help: "Enter the extension (.jpg, .png, etc.) of the uploaded print catalog images."
      - name: "numslides"
        field:
          element: "number"
          label: "Number of PDF Images"
          help: "Enter the number of PDF images for this catalog, ie the number of slides in the carousel."
      - name: "spread"
        field:
          element: "checkbox"
          label: "PDF images are spreads (2 pages each)"
          help: "Do the PDF images (slides in the carousel) each show a 2-page spread, or just 1 page?"
          value: "false"

    _posts/products/items:
      - name: "title"
        field:
          element: "text"
          label: "Product Name"
          help: "Enter the product name"
      - name: "layout"
        field:
          element: "hidden"
          value: "product"
      - name: "category"
        field:
          element: "hidden"
          value: "products"
      - name: "catalog"
        field:
          element: "text"
          label: "Catalog Name"
          help: "Enter the catalog where this product appears"
      - name: "collection"
        field:
          element: "text"
          label: "Collection Name"
          help: "(Optional) Enter the collection this product is a part of"
      - name: "thumb"
        field:
          element: "text"
          label: "Product Thumbnail"
          help: "Add a URL for a product photo to use as a thumbnail image."
      - name: "item"
        field:
          element: "text"
          label: "Item Number"
          help: "Enter the item code"
      - name: "case"
        field:
          element: "text"
          label: "Case PK"
          help: "Enter the case size (per-pack)"
      - name: "master"
        field:
          element: "text"
          label: "Master Case"
          help: "Enter the master case size"
      - name: "type"
        field:
          element: "multiselect"
          label: "Product Type"
          placeholder: "Choose or add a type"
          help: "Choose or add a product type (ie animal, object, etc.)"
          alterable: "true"
          options:
            - name: "Bunny"
              value: "bunny"
            - name: "Bear"
              value: "bear"
            - name: "Monkey"
              value: "monkey"
            - name: "Elephant"
              value: "elephant"
            - name: "Penguin"
              value: "penguin"
            - name: "Fish"
              value: "fish"
            - name: "Whale"
              value: "whale"
            - name: "Moose"
              value: "moose"
      - name: "size"
        field:
          element: "multiselect"
          label: "Product Size"
          placeholder: "Choose or add a size"
          help: "Choose a product size or add a new one"
          alterable: "true"
          options:
            - name: "Small"
              value: "small"
            - name: "Medium"
              value: "medium"
            - name: "Large"
              value: "large"
            - name: "Jumbo"
              value: "jumbo"
      - name: "color"
        field:
          element: "multiselect"
          label: "Product Color(s)"
          placeholder: "Choose or add color(s)"
          help: "Choose one or more colors, or add a new one"
          alterable: "true"
          options:
            - name: "Brown"
              value: "brown"
            - name: "Black"
              value: "black"
            - name: "White"
              value: "white"
            - name: "Red"
              value: "red"
            - name: "Orange"
              value: "orange"
            - name: "Yellow"
              value: "yellow"
            - name: "Green"
              value: "green"
            - name: "Blue"
              value: "blue"
            - name: "Purple"
              value: "Purple"
            - name: "Pink"
              value: "pink"

    _posts/products/custom:
      - name: "title"
        field:
          element: "text"
          label: "Product Name"
          help: "Enter the name of the custom product"
      - name: "layout"
        field:
          element: "hidden"
          value: "default"
      - name: "category"
        field:
          element: "hidden"
          value: "custom"

    _posts/staff:
      - name: "title"
        field:
          element: "text"
          label: "Staff Name"
          help: "Enter the staff member's name"
      - name: "layout"
        field:
          element: "hidden"
          value: "default"
      - name: "category"
        field:
          element: "hidden"
          value: "staff"
      - name: "job_title"
        field:
          element: "text"
          label: "Job Title or Region"
      - name: "email"
        field:
          element: "text"
          label: "Email Address"
      - name: "portrait"
        field:
          element: "text"
          label: "Portrait Image"
          help: "Enter the name of the uploaded portrait image (including extension)"

    _posts/testimonials:
      - name: 'title'
        field:
          element: 'text'
          label: 'Customer Name'
          help: 'Enter the name of your happy customer'
      - name: "layout"
        field:
          element: "hidden"
          value: "default"
      - name: "category"
        field:
          element: "hidden"
          value: "testimonials"
