---
layout: default
title: home
---

<section class="strip reverse">

  <!-- hero carousel/feature banners -->
  <div class="hero carousel">
    {% for post in site.categories.carousel %}
    {{ post.content }}
    {% endfor %}
  </div>

  <!-- catalogs -->
  <section class="strip-int margins reverse">
    <h3 class="callout">Our Latest Catalogs</h3>
    <div class="wrapper">
      <ul class="grid small center">
        {% include html/catalogs.html limit="5" text="false" %}
        <li><a href="{{ site.url }}/products/" class="tile more">See more catalogs</a></li>
      </ul>
    </div>
  </section>
</section>

<!-- intro copy -->
<section class="strip blurb well center">
  <div class="wrapper narrow">
    {% for post in site.categories.home %}
      {{ post.content }}
    {% endfor %}

    <a href="{{ site.url }}/about/" class="button primary large">Learn more about The Petting Zoo &rsaquo;</a>
  </div>
</section>

<!-- promo banners -->
{% if site.categories.promos.size > 0 %}
<section class="promos strip">
  <div class="wrapper">
    {% for post in site.categories.promos %}
      {{ post.content }}
    {% endfor %}
  </div>
</section>
{% endif %}