// =============================================================================
//  Global list styles
// =============================================================================

@import '../config/scale';

// Base styles
// -----------------------------------------------------------------------------

ul,
ol {
  padding-left: 1em; // bump to the right a little @ mobile sizes so the numbers/bullets don't run off
}

ul,
ol,
dl {
  margin-top: 0;
}

li {
  font-size: scale-type('epsilon');

  & + & {
    margin-top: 0.25em;
  }
}

.list-undecorated {
  // sass-lint:disable no-important
  list-style: none !important;
  margin: 0;
  padding: 0;
}

.list-inline {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline-item {
  display: inline-block;
  list-style: none;

  & + & {
    margin-top: 0;
  }
}
