// ==========================================================================
//  Global media styles
// ==========================================================================

// Base styles
// -----------------------------------------------------------------------------

audio,
canvas,
img,
picture,
video {
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

// Fix IE SVG scaling issue | https://gist.github.com/larrybotha/7881691
// IE9
// sass-lint:disable no-qualifying-elements
// sass-lint:disable no-vendor-prefixes
// -> since these are special resets we need qualifying elements and vendor prefixes
.ie9 img[src*='.svg'] {
  width: 100%;
}

// IE10+
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src*='.svg'],
  source[type*='svg+xml'] {
    width: 100%;
  }
}
// sass-lint:enable no-qualifying-elements
// sass-lint:enable no-vendor-prefixes
