// ==========================================================================
//  Footer modules
// ==========================================================================

// BASE
// -----------------------------------------------------------------------------

footer, .footer {
	
}

// MODIFIERS
// -----------------------------------------------------------------------------

// global/main footer @ bottom of each page
footer.global, .footer.global {
  @include rem(margin-top, 24px);
  @include rem(padding, 24px 0 0 0);
  position: relative;
  background: #eee;

  h3 {
    text-align: center;
  }
	
  form {
    $margin: 0.5em 0;
    @include grid-span-break(6 6 8, 1 1 1);

    label {
      @include inline-block;
      width: 40%;
      margin: $margin;
      text-align: right;
    }

    .control_group {
      clear: both;
    }

    input[type="text"], input[type="email"], select, textarea, button {
      @include inline-block;
      margin: $margin;
      vertical-align: top;
      width: 55%;
      float: right;
    }
  }

  .meta.contact {
    // @include grid-span(4, 5, $options: right);
    @include grid-span-break(6 3 4, 1 7 9);
    text-align: left;

    #{headers()} {
      text-align: left;
    }

    & > dl {
      @include inline-dl(true);
      border-bottom: $hairline;
    }

    .social {
      @include inline-list;
    }
  }
}

.map + footer.global {
  margin-top: 0;
}

// SUBMODULES
// -----------------------------------------------------------------------------

.footer-menu {
  @include rem(padding-bottom, 18px);
  @include rem(margin-top, 48px);
  position: relative;
  text-align: center;
  z-index: $z--medium;

  background: #ddd;
}