{% capture limit %}{% if include.limit %}{{ include.limit }}{% else %}{{ site.categories.catalog.size }}{% endif %}{% endcapture %}

{% for catalog in site.categories.catalog limit: limit %}
  {% unless catalog.categories contains "intro" %}
  {% unless catalog.title == page.title %}
  <li class="tile vertical">
    <a href="{{ catalog.url }}" class="tile-thumb"><img src="{{ site.assets.s3 }}{{ site.assets.catalog }}{{ catalog.directory }}/{{ catalog.cover }}" alt="{{ catalog.title }}" /></a
    {% unless include.text == "false" %}
    ><h3><a href="{{ catalog.url }}">{{ catalog.title }}</a></h3><!-- whitespace hack -->
    {% if catalog.pdf != false %}
    <a href="{{ site.assets.s3 }}{{ site.assets.catalog }}{{ catalog.directory }}/{{ catalog.pdf }}">Download PDF</a>
    {% endif %}
    {% endunless %}
    {% endunless %}
  </li><!-- whitespace hack -->
  {% endunless %}
{% endfor %}