<nav role="navigation" class="global">
  <a href="{{ path }}index.html" class="logo"><img src="http://placehold.it/120x120" alt="The Petting Zoo" /></a>
  <ul class="menu">
    <li><a href="{{ path }}about/"{% if page.title == "About Us" %} class="active"{% endif %}>About us</a></li>
    <li><a href="{{ path }}products/"{% if page.title == "Products" %} class="active"{% endif %}>Products</a></li>
    <li class="split"><a href="{{ path }}news/"{% if page.title == "News" %} class="active"{% endif %}>News</a></li>
    <li><a href="{{ path }}contact/"{% if page.title == "Contact Us" %} class="active"{% endif %}>Contact</a></li>
  </ul>

  <select name="menu" class="menu-mobile">
    <option value="" disabled selected>How can we help?</option>
  </select>
</nav>