---
layout: default
active: products
---

<section>
  {%- comment -%} if there's a banner image... {%- endcomment -%}
  {%- capture alt -%}The Petting Zoo: {{ page.title }}{%- endcapture -%}
  {%- if page.cover -%}
    {%- include billboard.html 
      image=page.cover
      title=page.title
      button_label='<strong>Download a PDF</strong> of this catalog'
      button_url=page.pdf
      alt=alt
    -%}
  {%- else -%}
    {%- comment -%} otherwise, just show the title {%- endcomment -%}
    <div class="padding-x-outside">
      <div data-ui-wrapper="wide">
        <h1 class="t-align-center">{{ page.title }}</h1>
        {%- if page.pdf -%}
          <div class="padding-top t-align-center">
            {%- include button_link.html
              label='<strong>Download a PDF</strong> of this catalog'
              url=page.pdf
            -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
  <section data-ui-panel class="padding-top">
    <div data-ui-wrapper="wide">
      <h2 class="t-heading t-scale-zeta t-align-center c-highlight padding-bottom t-case-upper t-weight-bold">Products</h2>
      <ul data-ui-gallery="centered">
        {%- for product in site.categories.products -%}
          {%- if product.catalog contains page.unique_id -%}
            {%- capture title -%}
              {% if product.size %}{{ product.size }}" {% endif %}{{ product.title }}
            {%- endcapture -%}
            {%- assign thumbnail = product.thumbnail | default: product.image -%}
            <li data-ui-gallery-item>
              {%- include card.html 
                title=title
                image=thumbnail
                url=product.url
              -%}
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </section>
</section>

<!-- More catalogs -->
{%- comment -%}
  Check to see how many other catalogs exist. If there are more than 0, show a gallery of them here.
{%- endcomment -%}
{%- unless site.categories.catalogs.size == 0 -%}
  <nav data-ui-panel class="border-top c-well">
    <div data-ui-wrapper="wide">
      <h2 class="t-align-center padding-bottom">More of our catalogs</h2>
      <ul data-ui-gallery="centered">
        {%- for catalog in site.categories.catalogs -%}
          {%- unless catalog.unique_id == page.unique_id -%}
            {%- assign thumbnail = catalog.thumbnail | default: catalog.cover -%}
            <li data-ui-gallery-item>
              {%- include card.html 
                title=catalog.title
                image=thumbnail
                url=catalog.url
                aspect="catalog"
                image_size="cover"
              -%}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>
{%- endunless -%}

{% include testimonials.html %}