---
layout: default
active: products
---

<section>
  {%- comment -%} if there's a banner image... {%- endcomment -%}
  {%- capture alt -%}The Petting Zoo: {{ page.title }}{%- endcapture -%}
  {%- if page.cover -%}
    {%- include billboard.html 
      image='https://placehold.it/1200x600?text=Banner'
      title=page.title
      button_label='<strong>Download a PDF</strong> of this catalog'
      button_url=page.pdf
      alt=alt
    -%}
  {%- else -%}
    {%- comment -%} otherwise, just show the title {%- endcomment -%}
    <div class="padding-x-outside">
      <div data-ui-wrapper="wide" class="margin-top-header">
        <h1 class="t-align-center">{{ page.title }}</h1>
        {%- if page.pdf -%}
          <div class="padding-top t-align-center">
            {%- include button_link.html
              label='<strong>Download a PDF</strong> of this catalog'
              url=page.pdf
            -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
  <section data-ui-panel class="padding-top">
    <div data-ui-wrapper="wide">
      <h2 class="t-scale-zeta t-align-center c-highlight padding-bottom">Products</h2>
      <ul data-ui-gallery="small">
        {%- for product in site.categories.products -%}
          {%- if product.catalog contains page.unique_id -%}
            {%- capture title -%}
              {% if product.size %}{{ product.size }}" {% endif %}{{ product.title }}
            {%- endcapture -%}
            <li data-ui-gallery-item>
              {%- include card.html 
                title=title
                image=product.image
                url=product.url
              -%}
            </li>
          {%- endif -%}
        {%- endfor -%}
        <!-- dummy list item to prevent a single item from becoming huge on large screens -->
        <li data-ui-gallery-item class="hide-below@small"></li>
        <li data-ui-gallery-item class="hide-below@small"></li>
      </ul>
    </div>
  </section>
</section>

<!-- More collections -->
{%- comment -%} Check to see how many other collections exist {%- endcomment -%}
{%- capture collections_length -%}
  {{ site.categories.catalogs | size | minus: 1 }}
{%- endcapture -%}
{%- comment -%} If there are more than 0, show a gallery of them here {%- endcomment -%}
{%- unless collections_length == '0' -%}
  <nav data-ui-panel class="border-top c-well">
    <div data-ui-wrapper="wide">
      <h2 class="t-align-center padding-bottom">More of our catalogs</h2>
      <ul data-ui-gallery="small">
        {%- for catalog in site.categories.catalogs -%}
          {%- unless catalog.unique_id == page.unique_id -%}
            <li data-ui-gallery-item>
              {%- include card.html 
                title=catalog.title
                image=catalog.cover
                url=catalog.url
                aspect='catalog'
              -%}
            </li>
          {%- endunless -%}
        {%- endfor -%}
        <!-- dummy list item to prevent a single item from becoming huge on large screens -->
        <li data-ui-gallery-item class="hide-below@small"></li>
        <li data-ui-gallery-item class="hide-below@small"></li>
      </ul>
    </div>
  </nav>
{%- endunless -%}
