---
layout: default
active: products
---

<main role="main" class="wrapper">

  <h1 class="title">{{ page.title }}</h1>
  
  {% comment %}{% capture cat_name %}{{ page.title | downcase | replace: " ", "-" }}{% endcapture %}{% endcomment %}

  {% if page.filebase %}
  <!-- catalog: main carousel -->
  <div id="pdf-viewer" class="flexslider{% if page.spread == true %} spread{% endif %} js-scale-height" data-directory="{{ site.assets.s3 }}{{ site.assets.catalog }}{{ page.directory }}/" data-filebase="{{ page.filebase | xml_escape }}" data-extension="{{ page.extension }}" data-numslides="{{ page.numslides }}" >
    <a href="#" class="prev icon-arrow-left--blue">&lsaquo; Previous</a>
    <a href="#" class="next icon-arrow-right--blue">Next &rsaquo;</a>
  </div>

  <!-- thumbnail nav -->
  <div id="pdf-thumb" class="flexslider" data-directory="{{ site.assets.s3 }}{{ site.assets.catalog }}{{ page.directory }}/" data-filebase="{{ page.filebase | xml_escape }}" data-extension="{{ page.extension }}" data-numslides="{{ page.numslides }}"></div>

  {% endif %}

  {% if page.show_products == "true" %}

  <section class="strip">
    <h2>Featured products in this catalog</h2>

    <aside id="filter-nav" class="filter-nav">
      <form id="js-filters" class="controls">
        <h3 class="callout filter-label">Filters</h3>
        <button id="js-reset" class="filter active">Show All</button>
        <fieldset class="filter-set">
          <span class="filter-cat callout">Type</span>
           {% assign typeList = ',' %}
          {% for product in site.categories.products %}
            {% if product.catalog == page.slug %}
            {% for item in product.type %}
              {% capture compareType %},{{ item }},{% endcapture %}
              {% if typeList contains compareType %}{% else %}
                <button class="filter" data-filter='.{{ item }}'>{{ item | capitalize }}</button>
                {% capture tempList %}{{ typeList }}{{ item }},{% endcapture %}
                {% assign typeList = tempList %}
              {% endif %}
            {% endfor %}
            {% endif %}
          {% endfor %}
        </fieldset>
        <fieldset class="filter-set">
          <span class="filter-cat callout">Size</span>
           {% assign typeList = ',' %}
          {% for product in site.categories.products %}
            {% if product.catalog == page.slug %}
            {% for item in product.size %}
              {% capture compareType %},{{ item }},{% endcapture %}
              {% if typeList contains compareType %}{% else %}
                <button class="filter" data-filter='.{{ item }}'>{{ item | capitalize }}</button>
                {% capture tempList %}{{ typeList }}{{ item }},{% endcapture %}
                {% assign typeList = tempList %}
              {% endif %}
            {% endfor %}
            {% endif %}
          {% endfor %}
        </fieldset>
        <fieldset class="filter-set">
          <span class="filter-cat callout">Color</span>
           {% assign typeList = ',' %}
          {% for product in site.categories.products %}
            {% if product.catalog == page.slug %}
            {% for item in product.color %}
              {% capture compareType %},{{ item }},{% endcapture %}
              {% if typeList contains compareType %}{% else %}
                <button class="filter" data-filter='.{{ item }}'>{{ item | capitalize }}</button>
                {% capture tempList %}{{ typeList }}{{ item }},{% endcapture %}
                {% assign typeList = tempList %}
              {% endif %}
            {% endfor %}
            {% endif %}
          {% endfor %}
        </fieldset>
      </form>
    </aside>

    <ul id="filter-container" class="grid medium">
      {% for product in site.categories.products %}
      {% if product.catalog == page.slug %}
        {% include product-tile.html post=product filter=true %}
      {% endif %}
      {% endfor %}
    </ul>
  </section>

  {% endif %}

  <div class="center">
    {% if page.pdf %}
    <a href="{{ site.assets.s3 }}{{ site.assets.catalog }}{{ page.directory }}/{{ page.pdf }}" class="button small">Download a PDF of this catalog</a>
    {% endif %}
  </div>

</main>

<section class="strip well pointer">
  <h3 class="callout">More catalogs</h3>
  <div class="wrapper">
    <ul class="grid medium center">
    {% include catalogs.html %}
    </ul>
  </div>
</section>