---
layout: default
active: products
---

<article>
  <div data-ui-panel>
    <div data-ui-wrapper="wide">
    
      <!-- product title -->
      {%- capture title -%}
        {% if page.size %}{{ page.size }}&rdquo; {% endif %}{{ page.title }}
      {%- endcapture -%}
      <h1 class="padding-bottom">{{ title }}</h1>
      <div data-ui-columns class="gutter-wrapper">
        
        <!-- product image -->
        <div data-ui-columns-main class="gutter">
          <img class="border" src="{{ page.image }}" alt="The Petting Zoo: {{ page.title }}" style="width: 100%;">
        </div>

        <!-- description -->
        <div data-ui-columns-sidebar class="gutter margin-y-between-narrow">
          <div class="t-content">{{ content }}</div>

          <!-- product metadata -->
          <aside class="padding-top-narrow border-top">
            <dl data-ui-stats class="gutter-wrapper gutter-narrow">
              
              <!-- item number -->
              {%- if page.item_number -%}
                <div data-ui-stats-group class="gutter">
                  <dt data-ui-stats-item class="t-scale-zeta t-weight-bold">
                    Item Number:
                  </dt>
                  <dd data-ui-stats-item clas="t-scale-zeta">
                    {{ page.item_number }}
                  </dd>
                </div>
              {%- endif -%}

              <!-- size -->
              {%- if page.size -%}
                <div data-ui-stats-group class="gutter">
                  <dt data-ui-stats-item class="t-scale-zeta t-weight-bold">
                    Size:
                  </dt>
                  <dd data-ui-stats-item clas="t-scale-zeta">
                    {{ page.size }}
                  </dd>
                </div>
              {%- endif -%}
              
              <!-- color -->
              {%- if page.color -%}
                <div data-ui-stats-group class="gutter">
                  <dt data-ui-stats-item class="t-scale-zeta t-weight-bold">
                    Color:
                  </dt>
                  <dd data-ui-stats-item clas="t-scale-zeta">
                    {{ page.color }}
                  </dd>
                </div>
              {%- endif -%}
            </dl>
          </aside>
        </div>
      </div>
    </div>
  </div>

  <!-- catalogs -->
  {%- if page.catalog -%}
    <section data-ui-panel class="c-well border-top">
      <div data-ui-wrapper="wide">
        <h2 class="padding-bottom">Catalogs featuring this product</h2>
        <ul data-ui-gallery>
          {%- for catalog in site.categories.catalogs -%}
            {%- if page.catalog contains catalog.unique_id -%}
              <li data-ui-gallery-item>
                {%- include card.html 
                  title=catalog.title
                  image=catalog.cover
                  url=catalog.url
                  aspect='catalog'
                -%}
              </li>
            {%- endif -%}
          {%- endfor -%}
          <!-- dummy list item to prevent a single item from becoming huge on large screens -->
          <li data-ui-gallery-item class="hide-below@small"></li>
          <li data-ui-gallery-item class="hide-below@small"></li>
        </ul>
      </div>
    </section>
  {%- endif -%}

  <!-- collections -->
  {%- if page.product_collections -%}
    <section data-ui-panel class="c-well border-top">
      <div data-ui-wrapper="wide">
        <h2 class="padding-bottom">Collections featuring this product</h2>
        <ul data-ui-gallery>
          {%- for collection in site.categories.product_collections -%}
            {%- if page.product_collections contains collection.unique_id -%}
              <li data-ui-gallery-item>
                {%- include card.html 
                  title=collection.title
                  image=collection.image
                  url=collection.url
                -%}
              </li>
            {%- endif -%}
          {%- endfor -%}
          <!-- dummy list item to prevent a single item from becoming huge on large screens -->
          <li data-ui-gallery-item class="hide-below@small"></li>
          <li data-ui-gallery-item class="hide-below@small"></li>
        </ul>
      </div>
    </section>
  {%- endif -%}
</article>