---
layout: default
active: products
---

<!-- Topic catalogs -->
<section data-ui-panel>
  <div data-ui-wrapper>
    <h1 class="padding-bottom t-align-center">{{ page.title }}</h1>
    <ul data-ui-gallery="centered">
      {%- assign id = page.unique_id | downcase -%}
      {%- for catalog in site.categories.catalogs -%}
        {%- assign topic = catalog.topic | downcase -%}
        {%- assign thumbnail = catalog.thumbnail | default: catalog.cover -%}
        {%- if topic contains id -%}
          <li data-ui-gallery-item>
            {%- include card.html 
              title=catalog.title
              image=thumbnail
              url=catalog.url
              aspect="catalog"
              image_size="cover"
            -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</section>

<!-- More topics -->
{%- comment -%} Check to see how many other collections exist {%- endcomment -%}
{%- capture topics_length -%}
  {{ site.categories.catalog_topics | size | minus: 1 }}
{%- endcapture -%}
{%- comment -%} If there are more than 0, show a gallery of them here {%- endcomment -%}
{%- unless topics_length == '0' -%}
  <nav data-ui-panel class="border-top c-well">
    <div data-ui-wrapper>
      <h2 class="t-align-center padding-bottom">More of our catalog topics</h2>
      <ul data-ui-gallery="centered">
        {%- for collection in site.categories.catalog_topics -%}
          {%- unless collection.title == page.title -%}
            {%- assign thumbnail = collection.thumbnail | default: collection.image -%}
            <li data-ui-gallery-item>
              {%- include card.html 
                title=collection.title
                image=thumbnail
                url=collection.url
                image_size="cover"
              -%}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>
{%- endunless -%}

{% include testimonials.html %}