// ==========================================================================
//  Buttons
// ==========================================================================

@mixin button-bevel($color: $black, $height: 4px) {
  $specs: 0px $height 0px 0px $color;
  box-shadow: $specs;
  top: -#{$height};
  margin-bottom: ($height + 2);
}

// BASE
// -----------------------------------------------------------------------------

.button {
  @extend %gentleman;
  @include inline-block;
  @include button-bevel(darken($color-bg-reverse, 10));
  @include reverse-text-fix;
  color: white;
  text-transform: uppercase;
}

// MODIFIERS
// -----------------------------------------------------------------------------

.button {
  @extend %base-transition;
  
  // only one kind of button right now
  // &.primary {

  // }

  &.large {
    $padding-y: 10;
    @include rem(font-size, 16px);
    padding: em($padding-y) em(36) em($padding-y - 2);
    border-radius: em(5);
  }

  &.small {
    $padding-y: 8;
    @include rem(font-size, 13px);
    padding: em($padding-y) em(24) em($padding-y - 1);
    border-radius: em(5);       
  }
}