// ==========================================================================
//  Footer modules
// ==========================================================================

// BASE
// -----------------------------------------------------------------------------

footer, .footer {
	
}

// MODIFIERS
// -----------------------------------------------------------------------------

// global/main footer @ bottom of each page
footer.global, .footer.global {
  @extend %theme-reverse;
  @include rem(margin-top, 24px);
  @include rem(padding, 24px 0 0 0);
  position: relative;

  h3 {
    text-align: center;
  }
	
  form {
    $margin: 0.5em 0;
    @include grid-span-break(6 6 8, 1 1 1);

    label {
      @extend .highlight;
      @include inline-block;
      width: 40%;
      margin: $margin;
      text-align: right;
    }

    .control_group {
      clear: both;
    }

    input[type="text"], input[type="email"], select, textarea, button {
      @include inline-block;
      margin: $margin;
      vertical-align: top;
      width: 55%;
      float: right;
    }
  }

  .meta.contact {
    @include grid-span-break(6 3 4, 1 7 9);
    text-align: left;

    #{headers()} {
      text-align: left;
    }

    dl {
      @extend %theme-reverse;
      @include inline-dl(true);
      margin-top: 0;
      padding-bottom: 1em;
      border-bottom-width: $border-w--thin;
      border-bottom-style: solid;
    }

    dt {
      @extend %gentleman-bold;
      @extend .highlight;
    }

    .social {
      @include inline-list;
    }
  }
}

.map + footer.global {
  margin-top: 0;
}

// SUBMODULES
// -----------------------------------------------------------------------------

.footer-menu {
  @extend %theme-wash--primary;
  @include rem(padding-bottom, 18px);
  @include rem(margin-top, 48px);
  position: relative;
  text-align: center;
  line-height: 1.2;
  z-index: $z--medium;

  h5 {
    line-height: 1.2;
    margin-bottom: 0;
  }

  [role="copyright"] {
    @extend %positive;
  }
}