// ==========================================================================
//  Inline grid modules
// -> Horizontally-stacked boxes
// ==========================================================================

// CONFIG
// -----------------------------------------------------------------------------

@mixin grid-inline($cols: 1 3) {

  @for $i from 1 through length($cols) {
    @if (nth($cols, $i) > 1) {
      @include breakpoint(nth($breakpoints, $i)) {
        margin-right: -#{gutter-span()};
      }
    }
  }

  & > li {
    @for $i from 1 through length($cols) {
      @if (nth($cols, $i) > 1) {
        @include breakpoint(nth($breakpoints, $i)) {
          width: (100%/(nth($cols, $i)));
          padding-right: gutter-span();
        }
      }
    }
  }
}


// BASE
// -----------------------------------------------------------------------------

.grid {
  @include unstyled-list;
  margin-left: 0;
  overflow: hidden;

  li {
    display: block;
    padding: 0;
    overflow: hidden;

    @include breakpoint($xsmall) {
      @include inline-block;
      margin-right: $margin-whitespace;
    }
    
  }
}

// MODIFIERS
// -----------------------------------------------------------------------------

// ------- small grid (6 cols) -------------------------------------------
.grid.small, %grid-small {
  @include grid-inline(3 6);
}

// ------- medium grid (4 cols) -------------------------------------------
.grid.medium, %grid-medium {
  @include grid-inline(2 4 6);
}

// ------- large grid (3 cols) -------------------------------------------
.grid.large, %grid-large {
  @include grid-inline(1 3);
}

#about-us .narrow {
  ul {
    @extend .grid;
    @extend %grid-large;
  }
}

// make a grid from markdown-generated lists for certain posts
#home .promos, 
#products .accordion-content {
  ul {
    @extend .grid;
    @extend %grid-large;
    @extend .center;
  }
}