// ==========================================================================
//  Header modules
// ==========================================================================

@mixin ribbon--horizontal($color, $dir: left, $inset: 30px, $height: 60px) { 
  @include rem(border-top, ($height/2) solid $color);
  @include rem(border-bottom, ($height/2) solid $color);
  @include rem(border-#{$dir}, $inset solid transparent);
  height: 0;
}

// BASE
// -----------------------------------------------------------------------------

[role="banner"] {
	
}

// SUBMODULES
// -----------------------------------------------------------------------------

[role="banner"].global {
  @include grid-margins;
  @include rem(margin-top, 36px);
  @include rem(margin-bottom, 36px);
  position: relative;
  overflow: visible;

  &:before, &:after {
    @include box-sizing('border-box');
    @include rem(bottom, $header-ribbon-bottom);
    width: $header-h;
    content: " ";
    position: absolute;
    display: block;
    z-index: -1;
  }

  &:before {
    @include ribbon--horizontal($turquoise--light, $dir: left, $inset: nth($header-ribbon-inset, 1), $height: $header-h);
    left: nth($header-ribbon-margins, 1);

    @include breakpoint($small) {
      left: nth($header-ribbon-margins, 2);
    }

    @include breakpoint($medium) {
      @include rem(border-left-width, nth($header-ribbon-inset, 2));
      left: nth($header-ribbon-margins, 3);
    }
  }

  &:after {
    @include ribbon--horizontal($turquoise--light, $dir: right, $inset: nth($header-ribbon-inset, 1), $height: $header-h);
    right: nth($header-ribbon-margins, 1);

    @include breakpoint($small) {
      right: nth($header-ribbon-margins, 2);
    }

    @include breakpoint($medium) {
      @include rem(border-right-width, nth($header-ribbon-inset, 2));
      right: nth($header-ribbon-margins, 3);
    }
  }
}