
// container for embedded google map
.map {
  @include rem(margin, 24px 0);
  @include rem(height, 250px);
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  clear: both;
  z-index: 0;
  border-width: $border-w--thick;
  border-style: solid;

  @include breakpoint($small) {
    @include rem(height, 400px);
  }

  // @include breakpoint($large) {
  //   @include rem(height, 450px);
  // }

  img { 
    max-width: none;
  }
}