// ==========================================================================
//  Navigation modules
// ==========================================================================


// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav {
	// @extend .wrapper;
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ------- Global/main nav -------------------------------------------

[role="navigation"].global {
  $top: 70px;

  text-align: center;
  // position: relative;
  margin: 0;
  padding: 0;
  overflow: visible;

  .menu {
    @include inline-list;
    @include rem(margin, $top 0 0 0);
    @include hidden;

    @include breakpoint($small) {
      @include restore-visible;
    }
  }

  .menu-mobile {
    @include rem(margin, $top 0 0 0);
    float: right;

    @include breakpoint($small) {
      @include hidden;
    }
  }

  li {
    $margin: 60px;
    @include rem(margin-right, $margin);

    &:last-child {
      margin-right: 0;
    }

    &.split {
      @include rem(margin-left, ($logo-w + $margin));
    }
  }

  a {
    @include rem(width, 80px);
    display: block;
  }

  .logo {
    @include rem(top, 20px);
    display: block;
    position: absolute;
    width: $logo-w;
    left: 50%;
    margin-left: -($logo-w/2);
    z-index: $z--high;
  }
}

// copy of the main menu that appears in the footer
footer.global [role="navigation"].global {
  @include rem(margin, 0 0 24px 0);
  position: relative;
  z-index: $z--high;
  overflow: visible;

  .menu {
    margin: 0;
  }

  .logo {
    width: ($logo-w/2);
    top: -10px;
    left: 50%;
    margin-left: -($logo-w/4);
  }
}


// ------- Local nav -------------------------------------------

[role="navigation"].local, nav.local {
  // @extend .wrapper;
}

// ------- Tabs/accordions -------------------------------------------
.local.tabs {
  border-bottom: 1px solid #ccc;
  @include hidden;

  @include breakpoint($small) {
    @include restore-visible;
  }

  ul {
    @extend .wrapper;
    @extend .narrow;
    @include inline-list;
    @include grid-margins;
  }
  
}

  .tabs-content {
    @include breakpoint($small) {
      @include hidden;
    }

    &.is-open {
      @include restore-visible;
    }
  }

  .accordion-header {
    
    @include breakpoint($small) {
      @include hidden;
    }
  }

  .accordion-content {
    @include hidden;

    @include breakpoint($small) {
      @include restore-visible;
    }

    &.is-open {
      @include restore-visible;
    }
  }