// ==========================================================================
//  Navigation modules
// ==========================================================================

// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav {
	// @extend .wrapper;
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ------- Global/main nav -------------------------------------------

[role="navigation"].global {
  $bg: $gray;

  @function ribbon-offset($i) {
    @return (nth-last($header-ribbon-margins, $i) + $header-h - nth($layout-margins, $i));
  }

  @include rem(height, $header-h);
  @include rem(margin-top, abs(first($logo-top)));
  text-align: center;
  position: relative;
  padding: 0;
  overflow: visible;
  background: $bg;

  &:before, &:after {
    border-width: 0;
    @include rem(bottom, $header-ribbon-bottom);
    @include rem(border-top-width, abs($header-ribbon-bottom));
    content: " ";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: lighten($color-bg-reverse, 25) transparent transparent transparent;
  }

  &:before {
    border-left-width: ribbon-offset(1);
    left: 0;

    @include breakpoint($small) {
      border-left-width: ribbon-offset(2);
    }

    @include breakpoint($medium) {
      border-left-width: ribbon-offset(3);
    }
  }

  &:after {
    border-right-width: ribbon-offset(1);
    right: 0;

    @include breakpoint($small) {
      border-right-width: ribbon-offset(2);
    }

    @include breakpoint($medium) {
      border-right-width: ribbon-offset(3);
    }
  }

  @include breakpoint($xsmall) {
    @include rem(margin-top, abs(nth-last($logo-top, 2)));
  }

  .menu {
    @include inline-list;
    @include rem(height, $header-h);
    @include hidden;
    text-transform: uppercase;

    @include breakpoint($small) {
      @include restore-visible;
    }

    a {
      @extend %gentleman-bold;
      @include inline-block--centered($header-h);
      @include rem(width, 108px);
      @include rem(height, $header-h);
      @include rem(font-size, 14px);
      display: block;
      color: lighten($blue--dark, 4);
      text-transform: uppercase;

      &:hover, &:active {
        background: darken($gray, 5);
      }

      &.active {
        background: $pink;
        color: white;
      }

      @include breakpoint($medium) {
        @include rem(font-size, 16px);
        @include rem(width, 120px);
      }
    }
  }

  .menu-mobile {
    $height: 2.5em;
    position: relative;
    top: 50%;
    height: $height;
    margin: -($height/2) 1em 0 0;
    float: right;
    vertical-align: center;
    background-color: lighten($bg, 5);

    @include breakpoint($small) {
      margin-right: 2em;
    }

    @include breakpoint($small) {
      @include hidden;
    }
  }

  li {
    $margin: 1px;
    @include rem(margin-right, $margin);

    &:last-child {
      margin-right: 0;
    }

    &.split {
      @include rem(margin-left, (first($logo-w) + 24px + $margin));

      @include breakpoint($small) {
        @include rem(margin-left, (nth-last($logo-w, 2) + 36px + $margin));
      }
    }
  }

  .logo {
    @include rem(top, first($logo-top));
    @include rem(width, first($logo-w));
    @include rem(margin-left, -(first($logo-w)/2));
    display: block;
    position: absolute;
    left: 50%;
    z-index: $z--high;

    @include breakpoint($xsmall) {
      @include rem(top, nth-last($logo-top, 2));
      @include rem(width, nth-last($logo-w, 2));
      @include rem(margin-left, -(nth-last($logo-w, 2)/2));
    }
  }
}

// copy of the main menu that appears in the footer
// ------- Local nav -------------------------------------------
footer.global [role="navigation"].global {
  @include rem(margin, 0 0 6px 0);
  @include rem(padding, 65px 0 0 0);
  position: relative;
  height: auto;
  z-index: $z--high;
  overflow: visible;
  background: transparent;

  &:before, &:after {
    content: none;
    border: none;
  }

  @include breakpoint($xsmall) {
    @include rem(height, $header-h);
    padding: 0;
  }

  .menu {
    @include restore-visible;
    width: 100%;
    height: auto;

    @include breakpoint($xsmall) {
      @include rem(height, $header-h);
    }

    li {
      @extend %theme-wash--primary;
      display: block;
      margin-bottom: 0;
      border-width: $border-w--thin 0 0 0;
      border-style: solid;

      &:last-child {
        border-bottom-width: $border-w--thin;
      }

      @include breakpoint($xsmall) {
        @include inline-block;
        border: 0;
      }
    }

    a {
      @include rem(font-size, 13px);
      @include rem(padding, 12px 0);
      height: auto;
      width: 100%;
      color: white;
      display: block;

      &:hover, &:active {
        color: lighten($color-bg-wash--primary, 25);
        background: transparent;
      }

      &.active {
        color: $color-text--primary;
        background: transparent;
      }

      @include breakpoint($xsmall) {
        @include inline-block--centered($header-h);
        @include rem(width, 80px);
      }

      @include breakpoint($small) {
        @include rem(font-size, 16px);
        @include rem(width, 108px);
      }
    }
  }

  .split {
    margin-left: 0;
    // @include rem(margin-left, ((first($logo-w)/2) + 18px));

    @include breakpoint($xsmall) {
      @include rem(margin-left, ((nth-last($logo-w, 2)/2) + 18px));
    }
  }

  .logo {
    @include rem(width, (first($logo-w)));
    @include rem(margin-left, -(first($logo-w)/2));
    @include rem(top, -10px);

    @include breakpoint($xsmall) {
      @include rem(width, (nth-last($logo-w, 2)/2));
      @include rem(margin-left, -(nth-last($logo-w, 2)/4));
    }
  }
}


// ------- Local nav -------------------------------------------

[role="navigation"].local, nav.local {
  // @extend .wrapper;
}

// ------- Tabs/accordions -------------------------------------------
.local.tabs {
  @include hidden;

  @include breakpoint($small) {
    @include restore-visible;
  }

  ul {
    @extend .wrapper;
    // @extend .narrow;
    @include inline-list;
    @include grid-margins;
    text-align: center;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    @extend %aleo;
    @include rem(font-size, 18px);
    display: block;
    position: relative;
    margin: 0 0.5em;
    padding: 0 0 1em 0;

    &.active {
      @include triangle--centered($dir: up, $side: bottom, $width: 20px, $color: white);
    }
  }
  
}

  .tabs-content {
    @extend %base-transition;
    @extend %theme-wash--secondary;
    @include rem(padding, 18px 0);
    border-width: $border-w--thin 0 0 0;
    border-style: solid;

    @include breakpoint($small) {
      @include hidden;
      border: none;
    }

    &.is-open {
      @include restore-visible;
    }
  }

  .tabs-content-header {
    color: black;

    a {
      display: block;
    }
    
    @include breakpoint($small) {
      @include hidden;
    }
  }

  .tabs-content-body {
    @include hidden;

    @include breakpoint($small) {
      @include restore-visible;
    }

    &.is-open {
      @include restore-visible;
    }
  }