// ==========================================================================
//  Navigation modules
// ==========================================================================

// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav {
	// @extend .wrapper;
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ------- Global/main nav -------------------------------------------

[role="navigation"].global {
  $logo-top: 34px;

  @function ribbon-offset($i) {
    @return (nth-last($header-ribbon-margins, $i) + $header-h - nth($layout-margins, $i));
  }

  @include rem(height, $header-h);
  @include rem(margin-top, $logo-top);
  text-align: center;
  position: relative;
  padding: 0;
  overflow: visible;
  background: $gray;

  &:before, &:after {
    border-width: 0;
    @include rem(bottom, $header-ribbon-bottom);
    @include rem(border-top-width, abs($header-ribbon-bottom));
    content: " ";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: lighten($color-bg-reverse, 25) transparent transparent transparent;
  }

  &:before {
    border-left-width: ribbon-offset(1);
    left: 0;

    @include breakpoint($small) {
      border-left-width: ribbon-offset(2);
    }

    @include breakpoint($medium) {
      border-left-width: ribbon-offset(3);
    }
  }

  &:after {
    border-right-width: ribbon-offset(1);
    right: 0;

    @include breakpoint($small) {
      border-right-width: ribbon-offset(2);
    }

    @include breakpoint($medium) {
      border-right-width: ribbon-offset(3);
    }
  }

  .menu {
    @include inline-list;
    @include rem(height, $header-h);
    @include rem(font-size, 16px);
    @include hidden;
    text-transform: uppercase;

    @include breakpoint($small) {
      @include restore-visible;
    }

    a {
      @extend %gentleman-bold;
      @include inline-block--centered($header-h);
      @include rem(width, 120px);
      @include rem(height, $header-h);
      display: block;
      color: lighten($blue--dark, 4);
      text-transform: uppercase;

      &:hover, &:active {
        background: darken($gray, 5);
      }

      &.active {
        background: $pink;
        color: white;
      }
    }
  }

  .menu-mobile {
    // @include rem(margin, $top 0 0 0);
    float: right;

    @include breakpoint($small) {
      @include hidden;
    }
  }

  li {
    $margin: 1px;
    @include rem(margin-right, $margin);

    &:last-child {
      margin-right: 0;
    }

    &.split {
      @include rem(margin-left, ($logo-w + 36px + $margin));
    }
  }

  .logo {
    @include rem(top, -$logo-top);
    @include rem(width, $logo-w);
    @include rem(margin-left, -($logo-w/2));
    display: block;
    position: absolute;
    left: 50%;
    z-index: $z--high;
  }
}

// copy of the main menu that appears in the footer
footer.global [role="navigation"].global {
  @include rem(margin, 0 0 6px 0);
  position: relative;
  z-index: $z--high;
  overflow: visible;
  background: transparent;

  &:before, &:after {
    content: none;
    border: none;
  }

  .menu {
    margin: 0;
  }

  .split {
    @include rem(margin-left, (($logo-w/2) + 18px));
  }

  a {
    @include rem(font-size, 16px);
    @include rem(width, 108px);
    color: white;

    &:hover, &:active {
      color: lighten($color-bg-wash--primary, 25);
      background: transparent;
    }

    &.active {
      color: $color-text--primary;
      background: transparent;
    }
  }

  .logo {
    @include rem(width, ($logo-w/2));
    @include rem(margin-left, -($logo-w/4));
    @include rem(top, -10px);
    // left: 50%;
  }
}


// ------- Local nav -------------------------------------------

[role="navigation"].local, nav.local {
  // @extend .wrapper;
}

// ------- Tabs/accordions -------------------------------------------
.local.tabs {
  @include hidden;

  @include breakpoint($small) {
    @include restore-visible;
  }

  ul {
    @extend .wrapper;
    // @extend .narrow;
    @include inline-list;
    @include grid-margins;
    text-align: center;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    @extend %aleo;
    @include rem(font-size, 18px);
    display: block;
    position: relative;
    margin: 0 0.5em;
    padding: 0 0 1em 0;

    &.active {
      @include triangle--centered($dir: up, $side: bottom, $width: 20px, $color: white);
    }
  }
  
}

  .tabs-content {
    @include rem(padding, 18px 0);

    @include breakpoint($small) {
      @include hidden;
    }

    &.is-open {
      @include restore-visible;
    }
  }

  .accordion-header {
    
    @include breakpoint($small) {
      @include hidden;
    }
  }

  .accordion-content {
    @include hidden;

    @include breakpoint($small) {
      @include restore-visible;
    }

    &.is-open {
      @include restore-visible;
    }
  }