// ==========================================================================
//  Strip component
// -> A full-width, vertically stacking section
// ==========================================================================

// CONFIG
// -----------------------------------------------------------------------------




// BASE
// -----------------------------------------------------------------------------

.strip {
  @include rem(padding, 24px 0);
  #{headers()} {
    text-align: center;
  }
}

// MODIFIERS
// -----------------------------------------------------------------------------

.strip.blurb {
  h1 {
    @extend .callout;
  }

  h2 {
    @extend .highlight;
  }
}

.strip.full_bleed-bottom {
  padding-bottom: 0;
}

.strip.full_bleed-top {
  padding-top: 0;
}

// SUBMODULES
// -----------------------------------------------------------------------------

.strip-leader {
  @include rem(margin-top, -$header-padding);
  @include rem(padding, $header-padding 0 24px 0);
}

.strip-int {
  @include rem(margin-top, 12px);
  @include rem(padding, 18px 0);
  border-top-width: $border-w--thin;
  border-top-style: solid;
}