---
layout: default
title: Contact Us
show_contact_form: true
---

<section data-ui-panel>
  <h1 class="t-align-center padding-bottom">Get in Touch</h1>
  <div data-ui-wrapper="xnarrow">
    {% include contact-form.html %}
  </div>
</section>

<!-- Sales staff -->
<section data-ui-panel class="t-align-center">
  <div data-ui-wrapper="wide">
salesinquiries@pettingzooplush.com <h2 class="t-align-center">Contact Sales</h2>
        {% for post in site.categories.sales %}
        <li data-ui-gallery-item>
          <h2 class="t-scale-gamma">{{ post.title }}</h2>
          <p class="t-heading t-scale-epsilon c-text-tertiary padding-top-xnarrow">{{ post.job_title }}</p>
          <a class="t-font-display display-block padding-top-xnarrow" href="mailto:{{ post.email }}">{{ post.email }}</a>
          <p class="t-heading t-scale-epsilon c-text-tertiary padding-top-xnarrow">{{ Looking to connect with a sales rep? }}</p>
          <a class="t-font-display display-block padding-top-xnarrow" href="mailto:{{ post.email }}">{{ salesinquiries@pettingzooplush.com }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="t-align-center padding-top margin-top border-top">
      {% include button_link.html
        url=site.data.contact.order_form
        label="Download an order form"
        label="Download an order form" 
        prominence="large"
        icon-left="pdf"
      %}
    </div>
  </div>
</section>

<!-- Map -->
<section data-ui-panel class="border-top c-well">
  <h2 class="t-align-center padding-bottom-xnarrow">Our headquarters</h2>
