---
layout: default
title: About Us
---

<main role="main" class="wrapper">
  <h1>Company Overview</h1>
  {% for post in site.categories.about %}
    {% if post.feature %}
    <figure>
      <img src="{{ post.feature }}" alt="{{ post.feature_caption }}" />
      <figcaption>{{ post.feature_caption }}</figcaption>
    </figure>
    {% endif %}

    <div class="narrow">
      {{ post.content }}
    </div>
  {% endfor %}
  
  <!-- <div class="narrow">

    <p>Started in 1994, owner John Lizewski started <em>The Petting Zoo</em> as a plush company with his wife Donna in their Maryland home. Joined by their brother Joroy Lizewski, the company began to expand into a thriving and successful plush business. They now are joined by 50 employees who work together to create the newest, trend-forward designs in an ever expanding collection of plush, resin, and more!</p>
    <p>The Petting Zoo is based in Hanover Maryland and its goods are sold around the world. For over 15 years The Petting Zoo has consistently offered the highest quality wholesale plush at the greatest value! Our ever-expanding product line features a wide variety of items from plush to resin to hoodies.</p>

    <aside>
      <ul class="grid large">
        <li><a href=""><img src="http://placehold.it/400x300" alt="more photos"></a></li>
        <li><a href=""><img src="http://placehold.it/400x300" alt="more photos"></a></li>
        <li><a href=""><img src="http://placehold.it/400x300" alt="more photos"></a></li>
      </ul>
    </aside>
  </div> -->
</main>