// =============================================================================
// Positioning utilities
// ==========================================================================

// Allow 'important!' here because we want the styles to always apply in small utility classes
// sass-lint:disable no-important

@import '../config/libs';
@import '../config/positioning';
@import '../config/breakpoints';

// make an element rise to the top of a layout
// -> useful if it contains, for instance, stuff like a jump nav that needs to overlay elements below

@each $name, $level in $z-indexes {
  .z-#{$name} {
    z-index: z($name) !important;
  }
}

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-flex-column {
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
  }
}

.display-flex-bottom {
  @supports (display: flex) {
    margin-top: auto;
  }
}

.display-flex-fill {
  @supports (flex: 1) {
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.align-center-block {
  margin-left: auto;
  margin-right: auto;
}

.position-relative {
  position: relative !important;
}
