.icon-arrow-up--pink {
	background-image: url('../images/icons/arrow-up--pink.png');
	background-repeat: no-repeat;
}
.icon-arrow-down--blue {
	background-image: url('../images/icons/arrow-down--blue.png');
	background-repeat: no-repeat;
}
.icon-arrow-down--white {
	background-image: url('../images/icons/arrow-down--white.png');
	background-repeat: no-repeat;
}
.icon-arrow-down--yellow {
	background-image: url('../images/icons/arrow-down--yellow.png');
	background-repeat: no-repeat;
}
.icon-arrow-left--blue {
	background-image: url('../images/icons/arrow-left--blue.png');
	background-repeat: no-repeat;
}
.icon-arrow-left--white {
	background-image: url('../images/icons/arrow-left--white.png');
	background-repeat: no-repeat;
}
.icon-arrow-left--yellow {
	background-image: url('../images/icons/arrow-left--yellow.png');
	background-repeat: no-repeat;
}
.icon-arrow-right--blue {
	background-image: url('../images/icons/arrow-right--blue.png');
	background-repeat: no-repeat;
}
.icon-arrow-right--white {
	background-image: url('../images/icons/arrow-right--white.png');
	background-repeat: no-repeat;
}
.icon-arrow-right--yellow {
	background-image: url('../images/icons/arrow-right--yellow.png');
	background-repeat: no-repeat;
}
.icon-pdf--blue {
	background-image: url('../images/icons/pdf--blue.png');
	background-repeat: no-repeat;
}
.icon-pdf--pink {
	background-image: url('../images/icons/pdf--pink.png');
	background-repeat: no-repeat;
}
.icon-pdf--yellow {
	background-image: url('../images/icons/pdf--yellow.png');
	background-repeat: no-repeat;
}
.icon-social-fb--yellow {
	background-image: url('../images/icons/social-fb--yellow.png');
	background-repeat: no-repeat;
}
.icon-social-twitter--yellow {
	background-image: url('../images/icons/social-twitter--yellow.png');
	background-repeat: no-repeat;
}
