---
layout: default
title: Products
---

<section class="strip">
  <section class="strip-int">
    <div class="wrapper narrow">
    {% for post in site.categories.catalog %}
      {% if post.categories contains "intro" %}
      <h1>{{ post.title }}</h1>
      {{ post.content }}
      {% endif %}
    {% endfor %}
    </div>
  </section>

  <div class="wrapper">
    <ul class="grid medium">
    {% include html/catalogs.html %}
    </ul>
  </div>
</section>

<section class="strip">
  <section class="strip-int">
    <div class="wrapper narrow">
    {% for post in site.categories.custom %}
      {% if post.categories contains "intro" %}
      <h1>{{ post.title }}</h1>
      {{ post.content }}
      {% endif %}
    {% endfor %}
    </div>
  </section>

  <nav class="local tabs">
    <ul>
    {% for post in site.categories.custom %}
      {% unless post.categories contains "intro" %}
      <li><a href="#{{ post.title | replace: " ", "-" | downcase }}">{{ post.title }}</a></li>
      {% endunless %}
    {% endfor %}
    </ul>
  </nav>

  {% for post in site.categories.custom %}
  {% unless post.categories contains "intro" %}
  <section id="{{ post.title | replace: " ", "-" | downcase }}" class="tabs-content strip-int">
    <h4 class="accordion-header"><a href="#{{ post.title | replace: " ", "-" | downcase }}-content">{{ post.title }}</a></h4>
    <div class="accordion-content wrapper narrow" id="{{ post.title | replace: " ", "-" | downcase }}-content">
      {{ post.content }}
      <!-- <img src="http://placehold.it/800x500" alt="product photo(s)" />
      <p>Custom plushes description here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, animi, esse, nulla expedita amet nisi obcaecati eveniet modi dicta dolorum voluptatem eius quibusdam iusto illo vel ipsa vitae ex quisquam odit fugit ea dignissimos error reiciendis deleniti eum. Dicta, labore quod quasi quo animi laborum sit minus recusandae excepturi eveniet?</p> -->
    </div>
  </section>
  {% endunless %}
  {% endfor %}

  <!-- <section id="custom-hoodies" class="strip-int">
    <div class="wrapper narrow">
      <img src="http://placehold.it/800x500" alt="product photo(s)" />
      <p>Custom hoodies description here. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, animi, esse, nulla expedita amet nisi obcaecati eveniet modi dicta dolorum voluptatem eius quibusdam iusto illo vel ipsa vitae ex quisquam odit fugit ea dignissimos error reiciendis deleniti eum. Dicta, labore quod quasi quo animi laborum sit minus recusandae excepturi eveniet?</p>
    </div>
  </section> -->

</section>

{% if site.categories.testimonials.size > 0 %}
<section class="strip">
  <div class="wrapper">
    <h2>What our customers are saying</h2>
    <ul class="grid large center">
      {% for post in site.categories.testimonials %}
      <li class="tile-quote">
        {{ post.content }}
        <small>- {{post.title }}</small>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}