---
title: Products
layout: default
---

<!-- Catalogs -->
{%- assign catalogs_length = site.categories.catalogs | size -%}
{%- unless catalogs_length == '0' -%}
  <section data-ui-panel>
    <div data-ui-wrapper="wide">
      {% include catalogs.html show-topics="true" %}
    </div>
  </section>
{%- endunless -%}

<!-- Collections -->
{%- assign collections_length = site.categories.product_collections | size -%}
{%- unless collections_length == '0' -%}
  <section data-ui-panel class="border-top">
    <div data-ui-wrapper="wide">
      {% include collections.html %}
    </div>
  </section>
{%- endunless -%}

<!-- Custom products -->
<section data-ui-panel class="border-top">
  <div data-ui-wrapper="wide">
    {% include custom-products.html %}
  </div>
</section>

<!-- testimonials -->
{% include testimonials.html %}
