---
title: Products
layout: default
---

<!-- Catalogs -->
{%- assign catalogs_length = site.categories.catalogs | size -%}
{%- unless catalogs_length == '0' -%}
  <section data-ui-panel>
    <div data-ui-wrapper="wide">
      <h1 class="padding-bottom t-align-center">Catalogs</h1>

      {% include category-list.html
        category=site.categories.catalogs
        grid-size='small'
        show-topics=true
        aspect='catalog'
      %}
    </div>
  </section>
{%- endunless -%}

<!-- Collections -->
{%- assign collections_length = site.categories.product_collections | size -%}
{%- unless collections_length == '0' -%}
  <section data-ui-panel class="border-top">
    <div data-ui-wrapper="wide">
      <h1 class="t-align-center padding-bottom">Collections</h1>
      {% include category-list.html
        category=site.categories.product_collections
      %}
    </div>
  </section>
{%- endunless -%}

<!-- Custom products -->
<section data-ui-panel class="border-top">
  <div data-ui-wrapper="wide">
    {% include custom-products.html %}
  </div>
</section>

  <!-- testimonials -->
  {% if site.categories.testimonials.size > 0 %}
  <section class="strip flood">
    <div class="wrapper">
      <h3 class="callout">What our customers are saying</h3>
      <ul class="grid large center">
        {% for post in site.categories.testimonials %}
        <li class="tile-quote">
          {{ post.content }}
          <small>- {{post.title }}</small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
</section>
