---
title: Products
layout: default
---

<!-- Catalogs -->
{%- assign catalogs_length = site.categories.catalogs | size -%}
{%- unless catalogs_length == '0' -%}
  <section data-ui-panel>
    <div data-ui-wrapper="wide">
      <h1 class="padding-bottom t-align-center">Catalogs</h1>

      {% include category-list.html
        category=site.categories.catalogs
        grid-size='small'
        show-topics=true
        aspect='catalog'
      %}
    </div>
  </section>
{%- endunless -%}

<!-- Collections -->
{%- assign collections_length = site.categories.product_collections | size -%}
{%- unless collections_length == '0' -%}
  <section data-ui-panel class="border-top">
    <div data-ui-wrapper="wide">
      <h1 class="t-align-center padding-bottom">Collections</h1>
      {% include category-list.html
        category=site.categories.product_collections
      %}
    </div>
  </section>
{%- endunless -%}

<!-- Custom products -->
<section data-ui-panel class="border-top">
  <div data-ui-wrapper="wide">
    <h1 class="t-align-center padding-bottom">Custom products</h1>
    <div data-ui-wrapper="narrow" class="t-content padding-bottom">
      {%- for intro in site.categories.intro -%}
        {%- if intro.categories contains 'custom' -%}
          {{ intro.content }}
        {%- endif -%}
      {%- endfor -%}
    </div>
    <ul class="list-undecorated margin-y-between">
      {%- for product in site.data.custom_products.listings -%}
        <li class="border-top border-secondary padding-top">
          <!-- title -->
          <h2 class="t-align-center padding-bottom">{{ product.title }}</h2>
          <!-- product image(s) -->
          <ul class="list-undecorated margin-y-between-xnarrow">
            {%- for image in product.images -%}
              <li>
                <img class="display-block align-center-block border border-secondary" src="{{ image.source }}" alt="{{ image.alt | default: 'Custom product' }}">
              </li>
            {%- endfor -%}
          </ul>
          <!-- description -->
          <div data-ui-wrapper="narrow" class="t-content padding-top">
            {{ product.description | markdownify }}
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</section>

  <!-- testimonials -->
  {% if site.categories.testimonials.size > 0 %}
  <section class="strip flood">
    <div class="wrapper">
      <h3 class="callout">What our customers are saying</h3>
      <ul class="grid large center">
        {% for post in site.categories.testimonials %}
        <li class="tile-quote">
          {{ post.content }}
          <small>- {{post.title }}</small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
</section>
