// ==========================================================================
//  Tile modules
// -> a self-contained, stackable unit, usually contained in an inline grid
// -> and usually linking to/summarizing other content
// ==========================================================================


// BASE
// -----------------------------------------------------------------------------

.tile {
  vertical-align: top;
  text-align: left;

  #{headers()}, a, small, p {
    text-align: left;
  }
}

// MODIFIERS
// -----------------------------------------------------------------------------
.tile.horizontal {
  // overflow: hidden;
  margin-bottom: gutter-span();

  // @include layout(6) {p
  //   .portrait {
  //     @include grid-span(2, 1);
  //   }

  //   .info {
  //     @include grid-span(4, 3, $options: right);
  //     text-align: left;
  //   }
  // }

  a[href^="mailto:"] {
    @include rem(font-size, 13px);

    @include breakpoint($medium) {
      @include rem(font-size, 16px);
    }
  }
}

.tile.vertical {
  position: relative;

  & > h3, .tile-title {
    margin-top: 0.5em;
    line-height: 1.4;

    a:hover {
      color: $color-text--highlight;
    }
  }

  &.more a {
    @include rem(font-size, 13px);
    @include rem(padding, 12px 24px 12px 12px);
    display: block;
    position: relative;
    // @include inline-block--centered;
    height: 100%;
    vertical-align: middle;
    text-transform: uppercase;

    &:after {
      $size: 1.2em;
      @extend %icon-arrow-right--yellow;
      @include rem(right, 8px);
      content: " ";
      position: absolute;
      width: $size;
      height: $size;
      top: 50%;
      margin-top: -($size/2);
      background-size: contain;
      background-position: center center;
    }
  }
  
  .thumb {
    display: block;
    // margin-bottom: 0.5em;

    &.product {
      @include rem(height, 220px);
      @include rem(padding, 6px);
      // display: table-cell;
      position: relative;
      width: 100%;
      vertical-align: middle;
      text-align: center;
      overflow: hidden;
      border: $border-w--thick solid $gray;

      @include breakpoint($medium) {
        @include rem(height, 160px);
      }

      & > img {
        // http://davidwalsh.name/css-vertical-center
        @include transform(translateY(-50%)); // use translate to vertically center when we don't know the height of the img
        position: relative;
        top: 50%;
        max-height: 100%;
        width: auto;
      }
    }
  }
}