{%- comment -%}
  Billboard component
  -> a banner image with a headline (and optional button) overlaid

  Locals:
  image - STRING: url or path of the banner image
  title - STRING: the headline text
  el - STRING (optional): the containing element. defaults to header.
{%- endcomment -%}
{%- assign el = include.el | default: 'header' -%}

<{{ el }} data-ui-billboard style="background-image: url('{{ include.image }}');">
  <h1 data-ui-billboard-title class="padding-x-outside margin-top-header">{{ include.title }}</h1>
  <img data-ui-billboard-image src="{{ include.image }}" alt="{{ include.title }}">
</{{ el }}>