{%- comment -%}
  Collection/catalog listing
  -> simple card to display a thumbnail, title, and button for a collection of products

  Locals:
  image - STRING: collection cover image
  title - STRING: collection title
  url - STRING: link to collection page
  button_label - STRING (optional): the button label
  aspect - STRING (optional): the aspect ratio to constrain the image with. 
    -> See 'fluid_aspect_ratio.scss' styles.
  image_size - STRING (optional): how the image displays in its frame; defaults to 'contain'. See components/fluid_aspect_ratio.scss
{%- endcomment -%}
{%- assign button_label = include.button_label | default: 'See more' -%}
{%- assign image = include.image | default: '/static/images/default-thumbnail.jpg' -%}

<a data-ui-aspect="{{ include.aspect }}" class="margin-bottom-xnarrow border border-highlight-hover" href="{{ include.url }}" style="background-image: url('{{ image }}');">
  <img data-ui-aspect-image="{{ include.image_size }}" src="{{ image }}" alt="The Petting Zoo: {{ include.title | escape }}">
</a>
<h3 class="t-heading t-scale-delta t-scale-gamma padding-bottom-xnarrow t-align-left">
  <a href="{{ include.url }}">{{ include.title | escape }}</a>
</h3>
