{%- comment -%}
  Collection/catalog listing
  -> simple card to display a thumbnail, title, and button for a collection of products

  Locals:
  image - STRING: collection cover image
  title - STRING: collection title
  url - STRING: link to collection page
  button_label - STRING (optional): the button label
  aspect - STRING (optional): the aspect ratio to constrain the image with. 
    -> See 'fluid_aspect_ratio.scss' styles.
{%- endcomment -%}
{%- assign button_label = include.button_label | default: 'See more' -%}
{%- assign image = include.image | default: 'https://placehold.it/800x500?text=Thumbnail' -%}

<a data-ui-aspect="{{ include.aspect }}" class="margin-bottom-xnarrow border" href="{{ include.url }}" style="background-image: url('{{ image }}');">
  <img data-ui-aspect-image src="{{ image }}" alt="The Petting Zoo: {{ include.title | escape }}">
</a>
<h3 class="t-scale-gamma t-weight-bold padding-bottom-narrow">
  <a href="{{ include.url }}">{{ include.title | escape }}</a>
</h3>
{%- include button_link.html 
  label=button_label 
  url=include.url 
  prominence='small'
  icon-right="arrow-right"
-%}
