{%- comment -%}
  Catalogs list
  -> list cards for all catalogs and catalog topics

  Locals:
  category - ARRAY: the category of products you want to display, e.g. site.categories.catalogs
  grid-size - STRING (optional): size of the cards in the grid, e.g. 'small'. See '_gallery.scss' for size options.
  show-topics - BOOLEAN (optional): sort by topic? for catalogs only. default: false
  subhead-level - NUMBER (optional): heading level of the 'topic' subheadings. defaults to h2.
  subhead-scale - STRING (optional): type scale size of the 'topic' subheadings. defaults to 'gamma'.
{%- endcomment -%}
{%- assign subhead-level = include.subhead-level | default: 2 -%}
{%- assign subhead-scale = include.subhead-scale | default: 'gamma' -%}

<!-- unsorted catalogs/collections -->
<ul data-ui-gallery="{{ include.grid-size }} centered">
  {%- assign category_length = include.category | size -%}
  {%- unless category_length == 0 -%}
    {%- for item in include.category -%}
      {%- unless item.topic -%}
        <li data-ui-gallery-item>
          {%- assign thumbnail = item.thumbnail | default: item.cover -%}
          {%- include card.html 
            title=item.title
            image=thumbnail
            url=item.url
            aspect=include.aspect
            image_size="cover"
          -%}
        </li>
      {%- endunless -%}
    {%- endfor -%}
  {%- endunless -%}
</ul>

<!-- topics -->
{%- if include.show-topics -%}
  {%- unless site.categories.catalog_topics.size == 0 -%}
    {%- for topic in site.categories.catalog_topics -%}
      <section class="margin-top padding-top border-top">
        <h{{ subhead-level }} class="t-scale-{{ subhead-scale }} t-align-center padding-bottom">
          <a href="{{ topic.url | relative_url }}">{{ topic.title | escape }}</a>
        </h{{ subhead-level }}>
        <ul data-ui-gallery="{{ include.grid-size }} centered">
          {%- for item in include.category -%}
            {%- if item.topic contains topic.unique_id -%}
              {%- assign thumbnail = item.thumbnail | default: item.cover -%}
              <li data-ui-gallery-item>
                {%- include card.html 
                  title=item.title
                  image=thumbnail
                  url=item.url
                  aspect=include.aspect
                  image_size="cover"
                -%}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </section>
    {%- endfor -%}
  {%- endunless -%}
{%- endif -%}