{% comment %}
  Collection/catalog listing
  -> simple card to display a thumbnail, title, and button for a collection of products

  Locals:
  image - STRING: collection cover image
  title - STRING: collection title
  url - STRING: link to collection page
{% endcomment %}

<div class="padding-bottom-xnarrow">
  <img src="{{ include.image }}" alt="{{ include.title }}">
</div>
<h3 class="t-scale-gamma t-weight-bold padding-bottom-xnarrow">{{ include.title }}</h3>
{% include button.html label='See more' url=include.url prominence='small' %}