{% comment %}
Featured product banner
-> displays a cover billboard and featured products from a given catalog or collection
-> mainly used on the homepage

Locals:
collection - OBJECT: the collection (product collection or catalog) used to populate the billboard, etc.
type - STRING (optional): is it a catalog (default) or collection?
button_label - STRING (optional): the label for the button
{% endcomment %}
{%- assign label = include.button_label | default: 'See more in this collection' -%}

<section data-ui-panel class="border-top">
  <div data-ui-wrapper="wide">

    <header class="padding-bottom-narrow margin-bottom-narrow border-bottom">
        
      <!-- banner video -->
      {%- if include.collection.video -%}
        <div data-ui-aspect="16x9" class="c-bg border">
          <iframe 
            data-ui-aspect-content 
            src="{{ include.collection.video }}" 
            frameborder="0" 
            allow="encrypted-media; gyroscope;"
            allowfullscreen
           ></iframe>
        </div>
      <!-- banner image, if there's no video -->
      {%- elsif include.collection.cover -%}
        <a data-ui-aspect="4x1" class="c-bg border" href="{{ include.collection.url }}">
          <img data-ui-aspect-image="cover" src="{{ include.collection.cover }}" alt="{{ include.collection.title }}">
        </a>
      {%- endif -%}

      <!-- title and button -->
      <div class="padding-top">
        <div data-ui-bookend="horizontal@small" class="gutter-wrapper gutter-xnarrow offset-margin-xnarrow">
          <h2 data-ui-bookend-item="left" class="gutter t-scale-alpha">
            <a href="{{ include.collection.url }}">{{ include.collection.title }}</a>
          </h2>
          <div data-ui-bookend-item="right" class="gutter">
            {% include button_link.html
              label=label 
              url=include.collection.url
              icon-right="arrow-right"
            %}
          </div>
        </div>
      </div>
    </header>

    <!-- featured product cards -->
    <h3 class="t-font-display t-scale-zeta t-case-upper t-weight-bold t-align-center c-highlight padding-bottom-narrow">Featured products</h3>
    <ul data-ui-gallery="centered">
      {%- for product in site.categories.products -%}
        
        {%- capture type -%}
          {%- if include.type == "collection" -%}
            {{ product.product_collections }}
          {%- else -%}
            {{ product.catalog }}
          {%- endif -%}
        {%- endcapture -%}
        
        {%- if type contains include.collection.unique_id -%}
          {%- if product.featured -%}
            {%- assign thumbnail = product.thumbnail | default: product.image -%}
            {%- capture title -%}
              {%- if product.size -%}
                {{ product.size }}" {{ product.title }}
              {%- else -%}
                {{ product.title }}
              {%- endif -%}
            {%- endcapture -%}
            <li data-ui-gallery-item>
              {%- include card.html 
                title=title
                image=thumbnail
                url=product.url
              -%}
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>

  </div>
</section>