<footer data-ui-panel data-theme="reverse" class="border-top" role="contentinfo">
  <h2 class="t-align-center">Get in Touch</h2>
  <section data-ui-wrapper="xnarrow" class="padding-top">
    <contact-form url="{{ site.url }}" question="{{ site.data.contact.contact_subjects.question }}">

      <template v-slot:subject-options class="hide@no-js">
        {%- for subject in site.data.contact.contact_subjects.answers -%}
          <option value="{{ subject.value }}">{{ subject.option }}</option>
        {%- endfor -%}
      </template>

      <h4 class="highlight">Call us!</h4>
      <dl>
        <dt>P</dt>
        <dd>{{ site.data.contact.phone.office }}</dd>
        <dt>F</dt>
        <dd>{{ site.data.contact.phone.fax }}</dd>
      </dl>
      <p class="address">
        {{ site.data.contact.address.street }}<br />
        {{ site.data.contact.address.city }}, {{ site.data.contact.address.state }} {{ site.data.contact.address.zip }}
      </p>
      {% if site.data.contact.social.size > 0 %}
        <ul class="social">
          {% for profile in site.data.contact.social %}
            <li>
              <a href="{{ profile.url }}" class="icon">
                <span class="icon-social-{{ profile.icon }}--yellow" aria-hidden="true"></span><span class="screen-reader-text">{{ profile.platform }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </contact-form>

  </section>
  <section class="footer-menu">
    <div data-ui-wrapper>
      <h5>{{ site.tag | xml_escape }}</h5>
      <small role="copyright">&copy; Copyright {{ site.time | date: "%Y" }} The Petting Zoo, Inc. All rights reserved.</small>
    </div>
  </section>
</footer>