// ==============================================================================
// 	Global type
// ==============================================================================

// Header groups
// ------------------------------------------------------------------------------

hgroup {
	#{headers()} {
		margin: 0;
		line-height: 1.2;
	}
}

#{headers()} {
	margin: 0;

	a {
		color: inherit;

		&:hover, &:active {
			color: inherit;
			border-bottom: none;
		}
	}

	& + p {
		margin-top: 1em;
	}
}

// Headers
// ------------------------------------------------------------------------------

h1, %h1 {
	@extend %gentleman;
	@include rem(font-size, 40px);
	line-height: 1.2;
	letter-spacing: -0.03em;
}

h2, %h2 {
	@extend %aleo;
	@include rem(font-size, 27px);
	line-height: 1.2;
}

h3, %h3 {
	@extend %gentleman-bold;
	@include rem(font-size, 18px);
}

h4, %h4 {
	@extend %aleo;
	@include rem(font-size, 18px);
}

h5, %h5 {
	@extend %aleo;
	@include rem(font-size, 16px);
}

h6, %h6 {
	@extend %gentleman;
	@include rem(font-size, 12px);
}

// big headline for page title
.title {
	// @extend %gentleman;
	// @extend .callout;
	@include rem(margin, 18px 0 12px 0);
	// @include rem(font-size, 36px);
	
	& + img, & + figure {
		margin-top: 1.5em;
	}
}

.callout {
	text-transform: uppercase;
	@extend %gentleman-bold;
}

// Body, inline content
// ------------------------------------------------------------------------------

// bigger first paragraph
.intro, p:first-child {
	@include rem(font-size, 18px);
}

p, table, li {
	@extend %gentleman;
	@include rem(font-size, 16px);
	margin: 0 0 1em 0;
	line-height: 1.5;
}

em, strong {
	@extend %gentleman-bold;
}

dl, ul, ol {
	@extend %gentleman;
}

small {
	@extend %gentleman;
}

label {
	@extend %aleo;
}

input, textarea, select {
	@extend %gentleman;
	@include rem(font-size, 13px);
}

ol, ul {
	margin-left: 1.5em; // bump to the right a little @ mobile sizes so the numbers/bullets don't run off

	@include breakpoint($small) {
		margin-left: 0;
	}
}

a {
	@extend %base-transition;
	text-decoration: none;

	&:hover, &:active {
		// border-bottom: 1px dotted 
	}
}

figure {
	margin: 1em 0;
}

	figcaption {
		@extend %gentleman;
		@include rem(font-size, 13px);
		margin-top: 0.5em;
		text-align: right;
		line-height: 1.5;
		color: $color-text--tertiary;
	}

.amp {
	font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.1em; // relative to whatever type surrounds it -- it renders slightly bigger
}

// ==============================================================================
// 	Icons (see icons.data...css stylesheets)
// ==============================================================================

.icon, %icon {
	@include inline-block;
	width: 1em;
	height: 1em;
	line-height: 0;
}

[class^="icon-"] {
	@include inline-block;
  // @include rem(width, 25px);
  // @include rem(height, 25px);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  line-height: 0;
  speak: none;
}

.screen-reader-text, %screen-reader-text { /* For text that explains what the icon is (ie "RSS" or "Menu") */
   @include visuallyhidden;
}

%icon-arrow-down--blue {
	// same as icon: .icon-arrow-down--blue
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2219px%22%20height%3D%2213px%22%20viewBox%3D%220%200%2019%2013%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3Earrow-down--blue%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22spare-parts%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22arrow-down--blue%22%20sketch%3Atype%3D%22MSArtboardGroup%22%20transform%3D%22translate%28-3.000000%2C%20-7.000000%29%22%20fill%3D%22%233C4B72%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M7.1073224%2C18.9561778%20C6.31455903%2C19.7253332%206.29542098%2C20.9915186%207.06457637%2C21.7842819%20C7.83373176%2C22.5770453%209.09991709%2C22.5961834%209.89268046%2C21.827028%20L16.8926805%2C15.0354835%20L18.3287421%2C13.6421868%20L16.9348088%2C12.206743%20L9.93480886%2C4.99828755%20C9.16530203%2C4.2058653%207.89910833%2C4.18728868%207.10668608%2C4.95679551%20C6.31426384%2C5.72630234%206.29568722%2C6.99249603%207.06519405%2C7.78491828%20L12.6825112%2C13.5695155%22%20id%3D%22Path-6-copy-2%22%20sketch%3Atype%3D%22MSShapeGroup%22%20transform%3D%22translate%2812.500000%2C%2013.391602%29%20rotate%28-270.000000%29%20translate%28-12.500000%2C%20-13.391602%29%20%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
}

%icon-arrow-down--white {
	// same as icon: .icon-arrow-down--white
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2219px%22%20height%3D%2213px%22%20viewBox%3D%220%200%2019%2013%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3Earrow-down--white%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22spare-parts%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22arrow-down--white%22%20sketch%3Atype%3D%22MSArtboardGroup%22%20transform%3D%22translate%28-3.000000%2C%20-7.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M7.1073224%2C18.9561778%20C6.31455903%2C19.7253332%206.29542098%2C20.9915186%207.06457637%2C21.7842819%20C7.83373176%2C22.5770453%209.09991709%2C22.5961834%209.89268046%2C21.827028%20L16.8926805%2C15.0354835%20L18.3287421%2C13.6421868%20L16.9348088%2C12.206743%20L9.93480886%2C4.99828755%20C9.16530203%2C4.2058653%207.89910833%2C4.18728868%207.10668608%2C4.95679551%20C6.31426384%2C5.72630234%206.29568722%2C6.99249603%207.06519405%2C7.78491828%20L12.6825112%2C13.5695155%22%20id%3D%22Path-6-copy-4%22%20sketch%3Atype%3D%22MSShapeGroup%22%20transform%3D%22translate%2812.500000%2C%2013.391602%29%20rotate%28-270.000000%29%20translate%28-12.500000%2C%20-13.391602%29%20%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
}

// Icons
// --------------------------------------------------------------------------

// usage: 
// <span aria-hidden="true" data-icon="&#xf008;"></span>
// <span class="screen-reader-text">Menu</span>
// %icon-font {
//   font-style: normal;
//   font-weight: normal;
//   text-decoration: inherit;
//   width: 1em;
//   text-align: center;
//   // font-family: YOUR_ICON_FONT_NAME;
// }

// // for icons placed before some text (such as in a button)
// [data-icon]:before {
//   @extend %icon-font;
//   content: attr(data-icon);
//   speak: none; /* Not to be trusted, but hey. */
// }

// .screen-reader-text, %screen-reader-text { /* For text that explains what the icon is (ie "RSS" or "Menu") */
//    @include visuallyhidden;
// }

// // for standalone icons
// %icon-alone {
//   display: inline-block; /* Fix for clickability issue in WebKit */
// }
