// ==============================================================================
// 	Global type
// ==============================================================================

// Header groups
// ------------------------------------------------------------------------------

hgroup {
	#{headers()} {
		margin: 0;
		line-height: 1.2;
	}
}

#{headers()} {
	margin: 0;

	a {
		color: inherit;

		&:hover, &:active {
			color: inherit;
			border-bottom: none;
		}
	}
}

// Headers
// ------------------------------------------------------------------------------

h1, %h1 {
	@extend %gentleman-bold;
	@include rem(font-size, 32px);
	line-height: 1.2;
	letter-spacing: -0.02em;
}

h2, %h2 {
	@extend %aleo;
	@include rem(font-size, 27px);
	line-height: 1.2;
}

h3, %h3 {
	@extend %gentleman-bold;
	@include rem(font-size, 18px);
}

h4, %h4 {
	@extend %aleo;
	@include rem(font-size, 18px);
}

h5, %h5 {
	@extend %aleo;
	@include rem(font-size, 16px);
}

h6, %h6 {
	@extend %gentleman;
	@include rem(font-size, 12px);
}

// big headline for page title
.title {
	// @extend %gentleman;
	@extend .callout;
	@include rem(margin, 18px 0 12px 0);
	@include rem(font-size, 36px);
	
	& + img, & + figure {
		margin-top: 1.5em;
	}
}

.callout {
	text-transform: uppercase;
}

// Body, inline content
// ------------------------------------------------------------------------------

// bigger first paragraph
.intro, p:first-child {
	@include rem(font-size, 18px);
}

p, table, li {
	@extend %gentleman;
	@include rem(font-size, 16px);
	margin: 0 0 1em 0;
	line-height: 1.5;
}

em, strong {
	@extend %gentleman-bold;
}

dl, ul, ol {
	@extend %gentleman;
}

small {
	@extend %gentleman;
}

label, .control_group {
	@extend %aleo;
}

ol, ul {
	margin-left: 1.5em; // bump to the right a little @ mobile sizes so the numbers/bullets don't run off

	@include breakpoint($small) {
		margin-left: 0;
	}
}

a {
	@extend %base-transition;
	text-decoration: none;

	&:hover, &:active {
		// border-bottom: 1px dotted 
	}
}

figure {
	margin: 1em 0;
}

	figcaption {
		@extend %gentleman;
		@include rem(font-size, 13px);
		margin-top: 0.5em;
		text-align: right;
		line-height: 1.5;
		color: $color-text--tertiary;
	}

.amp {
	font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.1em; // relative to whatever type surrounds it -- it renders slightly bigger
}

// ==============================================================================
// 	Icons (see icons.data...css stylesheets)
// ==============================================================================

.icon {
  background-repeat: none;
}


