// ==============================================================================
// 	Global type
// ==============================================================================

hgroup {
	#{headers()} {
		margin: 0;
		line-height: 1.2;
	}
}

#{headers()} {
	margin: 0 0 1em 0;

	a {
		color: inherit;

		&:hover, &:active {
			color: inherit;
			border-bottom: none;
		}
	}
}

h1, %h1 {
	@extend %intro;
	@include rem(font-size, 32px);
}

h2, %h2 {
	@extend %enriqueta-bold;
	@include rem(font-size, 27px);
}

h3, %h3 {
	@extend %intro;
	@include rem(font-size, 18px);
}

h4, %h4 {
	@extend %enriqueta-bold;
	@include rem(font-size, 18px);
}

h5, %h5 {
	@extend %enriqueta-bold;
	@include rem(font-size, 16px);
}

h6, %h6 {
	@extend %centrale-bold;
	@include rem(font-size, 12px);
}

// bigger first paragraph
.intro {
	@include rem(font-size, 21px);
}

p, table, li {
	@extend %centrale;
	@include rem(font-size, 16px);
}

dl, ul, ol {
	@extend %centrale;
}

small {
	@extend %centrale;
}

label {
	@extend %enriqueta-bold;
}

ol, ul {
	margin-left: 1.5em; // bump to the right a little @ mobile sizes so the numbers/bullets don't run off

	@include breakpoint($small) {
		margin-left: 0;
	}
}

a {
	@include animation(all $base-duration);
}

.amp {
	font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.1em; // relative to whatever type surrounds it -- it renders slightly bigger
}


// ==============================================================================
// 	Themes
// ==============================================================================


