// ==============================================================================
//  Color themes
// ==============================================================================

// CONFIG
// ------------------------------------------------------------------------------

// ----- default placeholders & classes ------------------------------------------

// http://www.guyroutledge.co.uk/blog/generating-multiple-colour-schemes-with-sass/
// http://www.sitepoint.com/dealing-color-schemes-sass/
%color-background {
  background-color: $color-bg-default;
}

%color-headers {
  color: $color-text--primary;

  a {
    color: inherit;

    &:hover, &:active {
      color: inherit;
    }
  }
}

%color-copy {
  color: $color-text--secondary;
}

%color-border {
  border-color: $color-border;
}

%color-link {
  color: $color-text--highlight;

  &:hover, &:active {
    color: darken($color-text--highlight, 12);
  }

  // &.active {
  //   color: $color-text--primary;

  //   &:hover, &:active {
  //     color: $color-text--primary;
  //   }
  // }
}

%color-button--primary {
  color: white;
  background: $color--primary;

  &:hover, &:active {
    color: white !important;
    background: lighten($color--primary, 8);
  }
}

%color-input {
  @include form-placeholder-color(lighten($color-text--secondary, 10));
  background: $color-bg-well;
  box-shadow: inset 0 1px $color-border;
  border-color: $color-border;

  &:hover {
    border-color: darken($color-border, 15);
  }

  &:focus {
    border-color: $color--secondary;
  }
}

%color-select {
  @extend %icon-arrow-down--blue;
  background-color: $color-bg-well;
  background-position: right 0.8em center;
  background-repeat: no-repeat;
  background-size: 0.6em 0.6em;
  border-color: darken($color-border, 10);
}

// text that needs to be stand out
.highlight {
  color: $color-text--highlight;
  background: transparent;
}

// an area that subtly stands out from the background
.island {
  background: $gray;
}

// ----- generator mixin -------------------------------------------------------
// -> keeps color scheme selectors a little more DRY

// -> the $link param is a list: [normal] [:hover]
// -> the $button param is a list: [normal] [:hover]

@mixin color-theme(
  $background: $color-bg-default, 
  $border: $color-border, 
  $headers: $color-text--primary, 
  $copy: $color-text--secondary, 
  $link: $color-text--highlight, 
  $button: $color--primary, 
  $input: $color-bg-well,
  $select: $color-bg-well
) {

  background: $background;
  border-color: $border;

  // override the placeholders for a new color scheme

  // %color-background {
  //   background: $background;
  // }
  %color-headers {
    color: $headers;
  }
  %color-copy {
    color: $copy;
  }
  %color-link {
    color: first($link);

    &:hover, &:active {
      // if only one $link color is given...
      @if (length($link) == 1) {
        // darken the first color on hover
        color: darken(first($link), 12);
      } @else {
        // otherwise, use the given value
        color: nth-last($link, 2);
      }
    }
  }
  %color-button--primary {
    background: first($button);

    &:hover, &:active {
      @if (length($link) == 1) {
        background: lighten(first($button), 8);
      } @else {
        background: nth-last($link, 2);
      }
    }
  }
  // %color-border {
  //   border-color: $border;
  // }
  %color-input {
    color: $copy;
    background: $input;
    box-shadow: inset 0 1px darken($background, 10);
    border-color: darken($background, 10);

    &:hover {
      border-color: darken($background, 15);
    }

    &:focus {
      border-color: $link;
    }
  }

  %color-select {
    color: $copy;
    background-color: $select;
    border-color: darken($background, 10);

    &:hover {
      border-color: darken($background, 10);
    }

    &:focus {
      // border-color: $link;
    }
  }
}

// BASE
// -> Global elements to be themed
// -> Specific themes override the %placeholders & properties for these elements
// ------------------------------------------------------------------------------

.default, body {
  @extend %color-background;
  @extend %color-copy;
  @extend %color-border;
}

#{headers()} {
  @extend %color-headers;
}

p, li, dl, td, label {
  @extend %color-copy;
}

a {
  @extend %color-link;
}

.button.primary {
  @extend %color-button--primary;
}

input, textarea {
  @extend %color-input;
}

select {
  @extend %color-select;
}

// THEMES
// ------------------------------------------------------------------------------

// ----- Reverse -------------------------------------------------------
// -> light FG over dark BG

%theme-reverse, .reverse {
  @include color-theme(
    $background: $color-bg-reverse, 
    $headers: white, 
    $copy: white, 
    $link: $color--tertiary, 
    $button: $blue--light, 
    $border: lighten($color-bg-reverse, 20),
    $input: darken($color-bg-reverse, 5),
    $select: lighten($color-bg-reverse, 10)
  );

  #{headers()}, a, p {
    @include reverse-text-fix;
  }

  .highlight {
    color: $color--tertiary;
  }

  .island {
    background: lighten($color-bg-reverse, 20);
  }

  a.island:hover {
    background: lighten($color-bg-reverse, 25);
  }

  select {
    @extend %icon-arrow-down--white;
  }
}

%theme-well, .well {
  @include color-theme(
    $background: $color-bg-well
  );
}

// ----- Wash -------------------------------------------------------
// -> midtone BG, fairly subdued

%theme-wash, .wash {

  .highlight {
    color: $color--tertiary;
  }

  %positive, .positive {
    color: $color-text--primary;
  }
}

  // Primary Wash
  %theme-wash--primary, .wash.primary {
    @extend %theme-wash;
    @include color-theme(
      $headers: white, 
      $copy: $color-text--primary,
      $background: $color-bg-wash--primary, 
      $link: white lighten($color-bg-wash--primary, 20),
      $button: $yellow, 
      $border: lighten($color-bg-reverse, 20)
    );

    a.active {
      color: $color-text--primary;

      &:hover, &:active {
        color: $color-text--primary;
      }
    }
  }
  
  // Secondary Wash
  %theme-wash--secondary, .wash.secondary {
    @include color-theme(
      $headers: white, 
      $copy: $color-text--primary,
      $background: $color-bg-wash--secondary, 
      $link: white lighten($color-bg-wash--secondary, 16),
      $button: $blue--light, 
      $border: lighten($color-bg-reverse, 20)
    );

    a.active {
      color: $color-text--primary;

      &:hover, &:active {
        color: $color-text--primary;
      }
    }
  } 

// ----- Flood -------------------------------------------------------
// -> bright BG with light FG. For obnoxious callouts.

%theme-flood, .flood {
  @include color-theme(
    $background: $color-bg-flood, 
    $headers: white, 
    $copy: white, 
    $link: white
  );
}