<nav role="navigation" class="global">
  <a href="{{ site.url }}/" class="logo">
    <img src="{{ site.url }}{{ site.assets.img }}{{ site.data.assets.logo.main }}" alt="The Petting Zoo" data-fallback="{{ site.url }}{{ site.assets.img }}{{ site.data.assets.logo.fallback }}" />
  </a>
  <ul class="menu">
    <li><a href="{{ site.url }}/about/"{% if page.title == "About Us" %} class="active"{% endif %}>About us</a></li>
    <li><a href="{{ site.url }}/products/"{% if page.title == "Products" %} class="active"{% endif %}>Products</a></li>
    <li class="split"><a href="{{ site.url }}/news/"{% if page.title == "News" %} class="active"{% endif %}>News</a></li>
    <li><a href="{{ site.url }}/contact/"{% if page.title == "Contact Us" %} class="active"{% endif %}>Contact</a></li>
  </ul>
  
{% unless include.mobile == false %}
  <select name="menu" class="menu-mobile" id="js-menu-mobile">
    <option value="" disabled selected>Menu</option>
    <option value="{{ site.url }}/about/"{% if page.title == "About Us" %} selected{% endif %}>About Us</option>
    <option value="{{ site.url }}/products/"{% if page.title == "Products" %} selected{% endif %}>Products</option>
    <option value="{{ site.url }}/news/"{% if page.title == "News" %} selected{% endif %}>News</option>
    <option value="{{ site.url }}/contact/"{% if page.title == "Contacts Us" %} selected{% endif %}>Contacts</option>
  </select>
{% endunless %}
</nav>