<nav role="navigation" class="global">
  <a href="{{ site.url }}/" class="logo">
    <div class="icon logo-pettingzoo" style="width: 265px; height: 235px"></div>
    {% comment %}<img src="{{ site.url }}{{ site.assets.img }}logo-pettingzoo.png" alt="The Petting Zoo" />{% endcomment %}
  </a>
  <ul class="menu">
    <li><a href="{{ site.url }}/about/"{% if page.title == "About Us" %} class="active"{% endif %}>About us</a></li>
    <li><a href="{{ site.url }}/products/"{% if page.title == "Products" %} class="active"{% endif %}>Products</a></li>
    <li class="split"><a href="{{ site.url }}/news/"{% if page.title == "News" %} class="active"{% endif %}>News</a></li>
    <li><a href="{{ site.url }}/contact/"{% if page.title == "Contact Us" %} class="active"{% endif %}>Contact</a></li>
  </ul>

  <select name="menu" class="menu-mobile">
    <option value="" disabled selected>Select a page</option>
    <option value="about"{% if page.title == "About Us" %} selected{% endif %}>About Us</option>
    <option value="products"{% if page.title == "Products" %} selected{% endif %}>Products</option>
    <option value="news"{% if page.title == "News" %} selected{% endif %}>News</option>
    <option value="contact"{% if page.title == "Contacts Us" %} selected{% endif %}>Contacts</option>
  </select>
</nav>