---
layout: default
---

<main role="main" class="wrapper">

  <h1 class="title">{{ page.title }}</h1>
    
  <!-- catalog: main carousel -->
  <div id="pdf-viewer" class="flexslider{% if page.spread == true %} spread{% endif %}" data-directory="{{ site.assets.s3 }}{{ site.assets.catalog }}{{ page.directory }}/" data-filebase="{{ page.filebase | xml_escape }}" data-extension="{{ page.extension }}" data-numslides="{{ page.numslides }}" >
    <a href="#" class="prev icon-arrow-left--blue">&lsaquo; Previous</a>
    <a href="#" class="next icon-arrow-right--blue">Next &rsaquo;</a>
  </div>

  <!-- thumbnail nav -->
  <div id="pdf-thumb" class="flexslider" data-directory="{{ site.assets.s3 }}{{ site.assets.catalog }}{{ page.directory }}/" data-filebase="{{ page.filebase | xml_escape }}" data-extension="{{ page.extension }}" data-numslides="{{ page.numslides }}"></div>

  <div class="center">
    <a href="{{ site.assets.s3 }}{{ site.assets.catalog }}{{ catalog.directory }}/{{ page.pdf }}" class="button small">Download a PDF of this catalog</a>
  </div>

</main>

<section class="strip well pointer">
  <h3 class="callout">More catalogs</h3>
  <div class="wrapper">
    <ul class="grid medium center">
    {% include html/catalogs.html %}
    </ul>
  </div>
</section>