<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ site.name }}{% unless page.title == "home" %} | {{ page.title }}{% endunless %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      
      {% capture level %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
      {% capture relativepath %}{% for i in (3..level) %}../{% endfor %}{% endcapture %}
      {% capture path %}{{ relativepath }}{{ site.baseurl }}{% endcapture %}

      <link rel="stylesheet" href="{{ path }}assets/css/app.css">
      <script src="{{ path }}assets/js/vendor/modernizr.custom.11128.js"></script>
      <script>
        // add the "main" element to html5 shiv -- modernizr does not include yet
        // http://drublic.de/blog/add-main-element-modernizr/
        window.html5.elements = 'main'; // add to list
        window.html5.shivDocument(document); // re-invoke the `shivDocument` method
    </script>
  </head>
  <body id="{% if page.slug %}{{ page.slug | replace: " ", "-" | downcase }}{% else %}{{ page.title | replace: " ", "-" | downcase }}{% endif %}">
    <header role="banner" class="global">
      {% include nav-global.html %}
    </header>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}

    <footer role="contentinfo" class="global">
      <section class="wrapper narrow">
        <h3>Get in Touch</h3>
        <form action="">
          <div class="control_group">
            <label for="name">Your Name</label>
            <input id="name" type="text" name="name" />
          </div>
          <div class="control_group">
            <label for="email">Your Email</label>
            <input id="email" type="email" name="email" placeholder="yourname@email.com" />
          </div>
          <select name="subject">
            <option value="" disabled selected>How can we help?</option>
            <option value="order">I'd like to place an order</option>
            <option value="sales">I'd like to speak to a sales representative</option>
            <option value="general">I have a general question</option>
            <option value="python">What is the capital of Assyria?</option>
          </select>
          <div class="control_group">
            <label for="message">Your Message</label>
            <textarea id="message" name="message" rows="8"></textarea>
          </div>
          <button name="contact-submit" id="contact-submit" class="button small">Send</button>
          <div class="control_group">
            <input type="checkbox" id="mailing-list" name="mailing-list" value="opted-in" /> Add me to <strong>The Petting Zoo's</strong> mailing list.
          </div>
        </form>

        <aside class="meta contact">
          <h3>Call us!</h3>
          <dl>
            <dt>P</dt>
            <dd>888.867.4059</dd>
            <dt>F</dt>
            <dd>410.760.5560</dd>
          </dl>
          <p>
            7222 Parkway Drive<br />
            Hanover, MD 21076
          </p>
          <ul class="social">
            <li><a href="#"><img src="http://placehold.it/25x25"></a></li>
            <li><a href="#"><img src="http://placehold.it/25x25"></a></li>
          </ul>
        </aside>
      </section>
      <section class="footer-menu">
        {% include nav-global.html %}
        <h5>Share &amp; Smile</h5>
        <small role="copyright">&copy; Copyright {{ site.time | date: "%Y" }} The Petting Zoo, Inc. All rights reserved.</small>
      </section>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ path }}assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ path }}assets/js/app.js"></script>

    <!-- For livereload: http://stackoverflow.com/questions/8395526/using-live-reload-with-jekyll -->
    <script src="http://localhost:35729/livereload.js"></script>

  </body>
</html>