<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ page.title }}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      
      {% capture level %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
      {% capture relativepath %}{% for i in (3..level) %}../{% endfor %}{% endcapture %}

      <link rel="stylesheet" href="{{ site.baseurl }}{{ relativepath }}assets/css/app.css">
      <script src="{{ site.baseurl }}{{ relativepath }}assets/js/vendor/modernizr.custom.11128.js"></script>
      <script>
        // add the "main" element to html5 shiv -- modernizr does not include yet
        // http://drublic.de/blog/add-main-element-modernizr/
        window.html5.elements = 'main'; // add to list
        window.html5.shivDocument(document); // re-invoke the `shivDocument` method
    </script>
  </head>
  <body id="{% if page.slug %}{{ page.slug | downcase }}{% else %}{{ page.title | downcase }}{% endif %}">
    <header role="banner">
      <nav role="navigation">
      </nav>
    </header>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}

    <footer role="contentinfo">
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ site.baseurl }}{{ relativepath }}assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ site.baseurl }}{{ relativepath }}assets/js/app.js"></script>

  </body>
</html>