---
layout: default
---

<main role="main" class="wrapper">

  <h1 class="title">{{ page.title }}</h1>
    
  <!-- catalog: main carousel -->
  <div class="narrow">
    {{ content }}
  </div>

  <aside class="meta">
    <dl>
      <dt>Item</dt>
      <dd>[ item number here ]</dd>
      <dt>Available in</dt>
      <dd>in 4 or 54 packs</dd>
    </dl>
  </aside>
</main>

<section class="strip well pointer">
  <h3 class="callout">More products in this collection</h3>
  <div class="wrapper">
    <ul class="grid medium center">
      <li>
        <a href="#"><img src="http://placehold.it/300x150" alt=""></a>
        <h3><a href="#">Product title</a></h3>
      </li>
    </ul>
  </div>
</section>