---
layout: default
active: products
---

<main role="main" class="wrapper">

  <h1 class="title">{{ page.title }}</h1>
    
  <!-- catalog: main carousel -->
  <div class="narrow">
    {% for photo in page.photos %}
     
    <figure class="product js-scale-height">
    <img src="{{ photo.src }}" alt="{% if photo.caption %}{{ photo.caption }}{% else %}{{ page.title }}{% endif %}" class="product-image" />
    {% if photo.caption %}
    <figcaption class="product-caption">{{ photo.caption }}</figcaption>
    {% endif %}
  </figure>

    {% endfor %}
  </div>

  <aside class="product-meta" role="contentinfo">
    <dl>
      <dt>Item:</dt>
      <dd>{{ page.item }}</dd>
      <dt>Case PK:</dt>
      <dd>{{ page.case }}</dd>
      <dt>Master Case:</dt>
      <dd>{{ page.master }}</dd>
    </dl>

    {{ content }}
  </aside>
</main>

<section class="strip well pointer">
  <h3 class="callout">More products in this collection</h3>
  <div class="wrapper">
    <ul class="grid medium center">
    {% for product in site.categories.products %}
      {% include product-tile.html post=product %}
    {% endfor %}
    </ul>
  </div>
</section>