---
layout: default
active: products
---

<h1 class="title first center">{{ page.title }}</h1>

<main role="main" class="wrapper narrow sidebar-right">

  <aside class="product-meta" role="contentinfo">
    <dl>
      <dt class="callout">Item:</dt>
      <dd>{{ page.item }}</dd>
      <dt class="callout">Case PK:</dt>
      <dd>{{ page.case }}</dd>
      <dt class="callout">Master Case:</dt>
      <dd>{{ page.master }}</dd>
    </dl>
  </aside>
    
  <!-- catalog: main carousel -->
  <div class="product js-scale-height">
    {% comment %}{% for photo in page.photos %}
     
    <figure class="product js-scale-height">
    <img src="{{ photo.src }}" alt="{% if photo.caption %}{{ photo.caption }}{% else %}{{ page.title }}{% endif %}" class="product-image" />
    {% if photo.caption %}
    <figcaption class="product-caption">{{ photo.caption }}</figcaption>
    {% endif %}
  </figure>

    {% endfor %}{% endcomment %}
    {{ content }}
  </div>
</main>

<nav class="local page">
  {% if page.previous.url %}
    <a class="page-button prev" href="{{ page.previous.url }}">
      <span class="icon-alone icon-arrow-left--blue"></span>
      <span class="page-title">{{ page.previous.title }}</span>
    </a> 
  {% endif %}

  {% if page.next.url %}
    <a class="page-button next" href="{{ page.next.url }}">
      <span class="page-title">{{ page.next.title }}</span>
      <span class="icon-alone icon-arrow-right--blue"></span>
    </a> 
  {% endif %}
</nav>

<section class="strip well pointer">
  <h3 class="callout">More products in this collection</h3>
  <div class="wrapper">
    <ul class="grid medium center">
    {% for product in site.categories.products %}
      {% include product-tile.html post=product %}
    {% endfor %}
    </ul>
  </div>
</section>