// ==========================================================================
//  Global settings
// ==========================================================================

$path-images: "../images/";

$base-duration: 0.5s; // in seconds

%base-transition {
  @include transition (all $base-duration);
}

// Colors
// --------------------------------------------------------------------------

// baseline palette
// -> for reference only. when applying a theme use labels like $color--primary
$turquoise--light: #b7d1d8;
$turquoise: #7dbfcb;

$blue--light: #5899fc;
$blue: #3b57a0;
$blue--dark: #3c4b72;

$yellow: #fed341;

$pink: #f035a6;

$gray: #ebf0f0;  

// basic colors
$color--primary: $blue;
$color--secondary: $pink; 
$color--tertiary: $yellow;          

// bgs
$color-bg-default: white;
$color-bg-reverse: $blue--dark;
$color-bg-well: $gray;
$color-bg-wash--primary: $turquoise;
$color-bg-wash--secondary: lighten($blue--light, 12);
$color-bg-flood: $pink;

// text
$color-text--primary: $blue--dark;
$color-text--secondary: #666d7d;
$color-text--tertiary: darken($gray, 30);
$color-text--highlight: $pink; // links and highlights

$color-selection: $turquoise;

// borders, accents
$color-border: $gray;

// color themes (nested lists)
// -> headers, text, highlight, button, background
// $themes: 
//   "default" $color-text--primary $color-text--secondary white,
//   "reverse" 
//   (wash primary)
//   (wash secondary)
//   "flood"



// Hairlines/borders
// --------------------------------------------------------------------------

$hairline-w: 1px;
$hairline-w--thick: 4px;

$hairline: $hairline-w solid #ccc;


// Typography
// --------------------------------------------------------------------------

$type-size--default: 16px;
$type-size--small: 16px;
$type-size--medium: 18px;
$type-size--large: 20px;

$type-line_height: 1.5;


// Containers/layout
// --------------------------------------------------------------------------

$layout-margins: 24px 48px 72px; // margins on either side of live area

$layout-width: 1280px; // maximum width of default container
$layout-width--narrow: 800px; // max width of narrower container, ~10 cols at medium screen size
$layout-width--wide: 1440px;

$strip-padding: 18px;

$logo-w: 90px 145px;
$logo-top: -10px -34px;
$logo-aspect: 0.889502762;

$header-h: 60px;
$header-padding: 120px 160px; // padding for elements "under" the (absolutely positioned) header
$header-ribbon-bottom: -13px; // how far down the ribbon ends are positioned, relative to the haeder.
$header-ribbon-inset: 8px 13px; // how wide the "cutout" is on each side of the ribbon.
$header-ribbon-margins: 8px 12px 36px; // how far the ribbon end is from the left and right sides of the screen.


$margin-whitespace: -5px; // a fix for gaps created by whitespace, an inline-block bug

$border-w--thin: 1px;
$border-w--thick: 6px;

// --- breakpoints ----------------------------------------------------------
// -> for breakpoint sass library

$breakpoints: 480px 768px 1024px 1280px;

$xsmall: nth($breakpoints, 1);
$small: nth($breakpoints, 2);
$medium: nth($breakpoints, 3);
$large: nth($breakpoints, 4);

$breakpoint-to-ems: true;


// --- grid variables -------------------------------------------------------
// -> for singularity.gs

$grid-gutter: 24px; // convert to rem/em/percent

// Singularity.gs setup
// -> https://github.com/Team-Sass/Singularity
$grids: add-grid(6);
$grids: add-grid(9 at $small);
$grids: add-grid(12 at $medium);
$gutters: add-gutter($grid-gutter);

$output: 'isolation';


// --- default z-indexes ----------------------------------------------------
$z--low: 0;
$z--medium: 1;
$z--high: 2;