---
layout: default
title: home
---

<!-- hero carousel -->
{% include billboard.html
  image='https://placehold.it/1200x600?text=Banner'
%}

<!-- intro copy -->
<section data-ui-panel class="t-align-center">
  <div data-ui-wrapper="narrow">
    <div class="t-content padding-bottom">
      {% for post in site.categories.home %}
        {{ post.content }}
      {% endfor %}
    </div>

    {% include button_link.html
      label="Learn more about The&nbsp;Petting&nbsp;Zoo &rsaquo;"
      url="/about/" 
      prominence="large"
    %}
  </div>
</section>

<!-- featured catalogs/collections -->
{%- for feature in (0..3) -%}
  <section data-ui-panel class="border-top">
    {% include billboard.html
      image='https://placehold.it/1200x600?text=Banner'
      title="Lorem ipsum collection"
      button_label="See more in this collection"
      button_url="#"
    %}
    <div data-ui-wrapper="wide" class="padding-top">
      <ul data-ui-gallery="small">
        {%- for product in (0..3) -%}
          <li data-ui-gallery-item>
            {%- include card.html 
              title="Lorem ipsum product"
              image="http://placehold.it/600x500"
              url="#"
            -%}
          </li>
        {%- endfor -%}
        {%- comment -%}
        <!-- dummy list item to prevent a single item from becoming huge on large screens -->
        <li data-ui-gallery-item class="hide-below@small"></li>
        <li data-ui-gallery-item class="hide-below@small"></li>
        {%- endcomment -%}
      </ul>
    </div>
  </section>
{%- endfor -%}

<section data-ui-panel class="border-top">
  <header>
    <h2 class="t-scale-alpha t-align-center padding-bottom-narrow">#ShareAndSmile</h2>
    <div data-ui-wrapper="narrow" class="t-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem ullam fugit repellendus quisquam et quis ut, consectetur earum ad, in explicabo itaque dolorem pariatur dolor praesentium aut aliquid culpa.</p>
    </div>
  </header>
  <div data-ui-wrapper="wide" class="padding-top">
    <ul data-ui-gallery="small">
      {%- for item in (1..20) -%}
      <li data-ui-gallery-item>
        <a href="#"><img src="http://placehold.it/600x500" alt="Instagram photo"></a>
      </li>
      {%- endfor -%}
      {%- comment -%}
      <!-- dummy list item to prevent a single item from becoming huge on large screens -->
      <li data-ui-gallery-item class="hide-below@small"></li>
      <li data-ui-gallery-item class="hide-below@small"></li>
      {%- endcomment -%}
    </ul>
  </div>
</section>