---
layout: default
title: home
---

<!-- hero carousel -->
{% include billboard.html
  image='https://placehold.it/1200x600?text=Banner'
%}

<!-- intro copy -->
<section data-ui-panel class="t-align-center">
  <div data-ui-wrapper="narrow">
    <div class="t-content padding-bottom">
      {% for post in site.categories.home %}
        {{ post.content }}
      {% endfor %}
    </div>

    {% include button_link.html
      label="Learn more about The&nbsp;Petting&nbsp;Zoo &rsaquo;"
      url="/about/" 
      prominence="large"
    %}
  </div>
</section>

<!-- featured catalogs/collections -->
{%- for feature in (0..3) -%}
  <section data-ui-panel class="border-top">
    {% include billboard.html
      image='https://placehold.it/1200x600?text=Banner'
      title="Lorem ipsum collection"
      button_label="See more in this collection"
      button_url="#"
    %}
    <div data-ui-wrapper="wide" class="padding-top">
      <ul data-ui-gallery="small">
        {%- for product in (0..3) -%}
          <li data-ui-gallery-item>
            {%- include card.html 
              title="Lorem ipsum product"
              image="http://placehold.it/600x500"
              url="#"
            -%}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </section>
{%- endfor -%}