---
layout: default
title: home
---

<!-- hero carousel -->
{% include billboard.html
  image='https://placehold.it/1200x600?text=Banner'
%}

<!-- intro copy -->
<section data-ui-panel class="t-align-center">
  <div data-ui-wrapper="narrow">
    <div class="t-content padding-bottom">
      {% for post in site.categories.home %}
        {{ post.content }}
      {% endfor %}
    </div>

    {% include button_link.html
      label="Learn more about The&nbsp;Petting&nbsp;Zoo"
      url="/about/" 
      icon-right="arrow-right"
      prominence="large"
    %}
  </div>
</section>

<!-- featured catalogs -->
{%- for catalog in site.categories.catalogs -%}
  {%- if catalog.featured -%}
    {% include featured-banner.html
      collection=catalog
      button_label='See more in this catalog'
    %}
  {%- endif -%}
{%- endfor -%}

<!-- featured collections -->
{%- for collection in site.categories.product_collections -%}
  {%- if collection.featured -%}
    {% include featured-banner.html collection=collection %}
  {%- endif -%}
{%- endfor -%}

<!-- Shared images from instagram -->
<section data-ui-panel class="border-top">
  <header>
    <h2 class="t-scale-alpha t-align-center padding-bottom-narrow">#ShareAndSmile</h2>
    <div data-ui-wrapper="narrow" class="t-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt rem ullam fugit repellendus quisquam et quis ut, consectetur earum ad, in explicabo itaque dolorem pariatur dolor praesentium aut aliquid culpa.</p>
    </div>
  </header>
  <div data-ui-wrapper="wide" class="padding-top">
    <ul data-ui-gallery style="--gutter: var(--space-xnarrow);">
      {%- for item in (1..10) -%}
      <li data-ui-gallery-item>
        <a href="#"><img src="http://placehold.it/600x600" alt="Instagram photo"></a>
      </li>
      {%- endfor -%}
      {%- comment -%}
      <!-- dummy list item to prevent a single item from becoming huge on large screens -->
      <li data-ui-gallery-item class="hide-below@small"></li>
      <li data-ui-gallery-item class="hide-below@small"></li>
      {%- endcomment -%}
    </ul>
    <div class="border-top margin-top-xnarrow padding-top t-align-center">
      {% include button_link.html url="https://instagram.com" label="Find us on <strong>Instagram</strong> to see more photos" %}
    </div>
  </div>
</section>