// Columns component
// -> lay out children in 2 columns, a 'main' one and a sidebar
// -> uses calc() hack to be responsive without media queries or flexbox
@import '../config/spacing';
@import '../config/type';

$columns-breakpoint: 40rem;
$columns-main-w: 60%;

// --- Base ---
[data-ui-columns] {
  --breakpoint: #{$columns-breakpoint};
  --main-w: #{$columns-main-w};

  display: block;
  font-size: 0;
}

// --- Elements ---
[data-ui-columns-main] {
  display: inline-block;
  font-size: $type-size-default;
  max-width: 100%;
  min-width: $columns-main-w;
  vertical-align: top;
  width: 100%; // fallback value if calc() isn't supported
  width: calc((#{$columns-breakpoint} - 100%) * 1000);
  width: calc((var(--breakpoint) - 100%) * 1000);
}

[data-ui-columns-sidebar] {
  display: inline-block;
  font-size: $type-size-default;
  max-width: 100%;
  min-width: (100% - $columns-main-w);
  vertical-align: top;
  width: 100%; // fallback value if calc() isn't supported
  width: calc((#{$columns-breakpoint} - 100%) * 1000);
  width: calc((var(--breakpoint) - 100%) * 1000);
}