// Gallery component
// -> Arrange a list of elements in equal rows and columns using CSS Grid
// -> Has a calc()-based fallback
@import '../config/spacing';

// default values
$gallery-gutter: space();
$gallery-breakpoint: 600px;
$gallery-min-percentage: 33.33333%;
$gallery-max-percentage: 100%;

// --- Base ---
[data-ui-gallery] {
  --gutter: var(--space-medium);

  display: block;
  font-size: 0;
  list-style: none;
  margin: (($gallery-gutter/2) * -1);
  margin: calc((var(--gutter) / 2) * -1);
  padding-left: 0;
  position: relative;
  text-align: left;
}

// --- Traits ---
[data-ui-gallery~='small'] {
  --min-width: 180px;
  --breakpoint: 480px;
  --min-percentage: 25%;
}

[data-ui-gallery~='centered'] {
  text-align: center;
}

// --- Elements ---
[data-ui-gallery-item] {
  display: inline-block;
  font-size: 1rem;
  margin: 0; // override default li spacing
  padding: ($gallery-gutter / 2);
  padding: calc(var(--gutter) / 2);
  position: relative;
  vertical-align: top;
  width: 100%;

  @include media('>xsmall') {
    width: (100%/2);
  }

  @include media('>small') {
    width: (100%/3);
  }

  @include media('>medium') {
    width: (100%/4);
  }

  [data-ui-gallery~='small'] & {
    @include media('>xsmall') {
      width: (100%/3);
    }

    @include media('>small') {
      width: (100%/4);
    }

    @include media('>medium') {
      width: (100%/5);
    }
  }
}
